{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'Calendar' %}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-calendar"></i>
                    {% trans 'Calendar' %}
                </h1>

                {% if perms.calendar.add_event %}
                <nav>
                    <ul>
                        <li class="creative-action">
                            <a href="{% url 'action_event_add' %}" title="{% trans 'New event' %}">
                                <i class="fa fa-fw fa-plus"></i></a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </header>

            {% if events|length > 0 %}
            <aside class="table">
                {% for event in events %}
                <div>
                    <span class="nowrap center">
                        {% if event.closed %}
                        <i class="fa fa-fw fa-close red"></i>
                        {% else %}
                        <i class="fa fa-fw fa-calendar-plus-o"></i>
                        {% endif %}
                    </span>

                    <span class="full-size">
                        <a href="{% url 'calendar_look' event.identifier event.pk %}">
                            {{ event.title }}
                        </a>
                    </span>

                    <span class="nowrap">
                        <i class="fa fa-fw fa-clock-o"></i>
                        <small>
                            {{ event.dates|length }}
                        </small>
                    </span>

                    <span class="nowrap">
                        <i class="fa fa-fw fa-calendar"></i>
                        <small>
                            {{ event.created }}
                        </small>
                    </span>

                    <span class="nowrap center">
                        <a href="{% url 'profile' event.user.username %}">
                            <img class="avatar big" title="{{ event.user.username }}"
                                src="{{ event.user.informations.avatar.url|avatar }}" />
                        </a>
                    </span>
                </div>
                {% endfor %}
            </aside>
            {% else %}
            <div class="banner warning">
                {% trans 'No event available' %}
            </div>
            {% endif %}
        </article>

        {% if events.paginator.num_pages > 1 %}
        <nav class="pagination">
            <ul>
                <li>
                    {% if events.has_previous %}
                    <a href="{% url 'upload_page' 1 %}">
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if events.has_previous %}
                    <a href="{% url 'upload_page' events.previous_page_number %}">
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </div>
                    {% endif %}
                </li>
                <li class="selector">
                    <form action="{% url 'action_upload_page' %}" method="post">
                        {% csrf_token %}

                        <label for="page">{% trans 'Move to page' %}</label>
                        <select name="page" id="page">
                            {% for index in events.paginator.page_range %}
                            <option {% if index == events.number %}selected="selected"{% endif %}
                                value="{{ index }}">{{ index }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" name="valid" value="Go" id="valid" />
                    </form>
                </li>
                <li>
                    {% if events.has_next %}
                    <a href="{% url 'upload_page' events.next_page_number %}">
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if events.has_next %}
                    <a href="{% url 'upload_page' events.paginator.num_pages %}">
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}
{% endblock %}

