{% load utils i18n %}
                        <li {% if page == 'calendar' %}class="active"{% endif %}>
                            <a href="{% url 'calendar_home' %}">
                                {% trans 'Calendar' %}
                            </a>
                            {% if perms.calendar.add_event %}
                            <a href="{% url 'action_event_add' %}" title="{% trans 'Add event' %}">
                                <i class="fa fa-fw fa-plus creative-action"></i>
                            </a>
                            {% endif %}
                        </li>
