{% extends "base.html" %}

{% load utils i18n static %}

{% block title %} - {% trans 'Event' %} - {{ event.title }}{% endblock %}

{% block main %}
        <article class="upload">
            <header>
                <h1>
                    <i class="fa fa-fw fa-calendar-plus-o"></i>
                    {{ event.title }}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'calendar_home' %}" title="{% trans 'Back to events' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                    {% if perms.calendar.change_event %}
                        {% if user.pk == event.user.pk or user.is_staff %}
                        <li>
                            <a href="{% url 'action_event_edit' event.pk %}" title="{% trans 'Edit' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if perms.calendar.delete_event %}
                        {% if user.pk == event.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_event_delete' event.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            {% if event.description %}
            <aside class="description">
                <header>
                    <h2>
                        <i class="fa fa-fw fa-file-text"></i>
                        {% trans 'Informations' %}
                    </h2>
                </header>

                <aside>
                    <div class="text">
                        {{ event.description|markdown_to_html|safe }}
                    </div>
                </aside>
            </aside>
            {% endif %}

            <aside class="description">
                <header>
                    <h2>
                        <i class="fa fa-fw fa-clock-o"></i>
                        {% trans 'Dates' %}
                    </h2>

                    {% if not event.closed and perms.calendar.add_eventdate %}
                    <nav>
                        <ul>
                            <li class="creative-action">
                                <a href="{% url 'action_date_add' event.pk %}"
                                    title="{% trans 'New date' %}">
                                    <i class="fa fa-plus fa-fw"></i>
                                </a>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                </header>

                {% if event.closed %}
                <div class="banner error">
                    {% trans 'Closed event' %}
                </div>
                {% elif event.dates|length > 0 %}
                <aside class="table">
                    {% for date in event.dates %}
                    <div class="big"
                        title="{% blocktrans with name=date.user.username %}Suggested by {{ name }}{% endblocktrans %}">
                        <span class="nowrap center">
                            <a href="{% url 'profile' date.user.username %}">
                                <img class="avatar big" title="{{ date.user.username }}"
                                    src="{{ date.user.informations.avatar.url|avatar }}" />
                            </a>
                        </span>

                        <span class="full-size">
                            <strong>{{ date.date }}</strong>
                        </span>

                        <span class="nowrap right">
                        {% for participant in date.users.all|dictsort:"username" %}
                            {% if participant.is_active %}
                            <a href="{% url 'profile' participant.username %}">
                                <img class="avatar big" title="{{ participant.username }}"
                                    src="{{ participant.informations.avatar.url|avatar }}" />
                            </a>
                            {% endif %}
                        {% endfor %}
                        </span>

                        {% if perms.calendar.change_eventdate %}
                        <span class="nowrap center">
                            <a href="{% url 'action_event_register' date.pk %}"
                                title="{% if user in date.users.all %}{% trans 'Leave' %}{% else %}{% trans 'Register' %}{% endif %}">
                                {% if user in date.users.all %}
                                <i class="fa fa-minus fa-fw red"></i>
                                {% else %}
                                <i class="fa fa-plus fa-fw green"></i>
                                {% endif %}
                            </a>
                        </span>
                        {% endif %}

                        {% if perms.calendar.delete_eventdate %}
                        <span class="nowrap center destructive-action">
                            {% if user.pk == date.user.pk or user.is_staff %}
                            <a href="{% url 'action_date_delete' date.pk %}"
                                title="{% trans 'Remove' %}">
                                <i class="fa fa-close fa-fw"></i>
                            </a>
                            {% endif %}
                        </span>
                        {% endif %}
                    </div>
                    {% endfor %}
                </aside>
                {% else %}
                <div class="banner info">
                    {% trans 'No date yet' %}
                </div>
                {% endif %}
            </aside>
        </article>
{% endblock %}

