{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'New date' %}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-plus-square"></i>
                    {% trans 'New date' %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'calendar_look' event.identifier event.pk %}" title="{% trans 'Back to event' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                    {% if date and perms.calendar.delete_eventdate %}
                        {% if user.pk == date.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_event_delete' event.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div>
                        <label for="id_title">{% trans 'Date' %}&nbsp;:</label>
                        {{ form.date }}
                    </div>

                    <footer>
                        {% if date %}
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                        {% else %}
                        <input class="important" type="submit" value="{% trans 'Create' %}" />
                        {% endif %}
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

