{% extends "base.html" %}

{% load utils i18n %}

{% block title %} -
    {% if static %}
        {% trans 'Edit page' %} - {{ static.title }}
    {% else %}
        {% trans 'New page' %}
    {% endif %}
{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if static %}
                    <i class="fa fa-fw fa-edit"></i>
                    {% trans 'Edit page' %}
                    {% else %}
                    <i class="fa fa-fw fa-plus-square"></i>
                    {% trans 'New page' %}
                    {% endif %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            {% if static %}
                            <a href="{% url 'static_look' static.identifier static.pk %}" title="{% trans 'Back to page' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% else %}
                            <a href="{% url 'static_home' %}" title="{% trans 'Back to pages' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% endif %}
                        </li>
                    {% if static and perms.static.delete_staticpage %}
                        {% if user.pk == static.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_static_delete' static.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <aside>
                <form method="post">
                    {% csrf_token %}
                    {% if categories|length > 0 %}
                    <datalist id="categories">
                        {% for category in categories %}
                        <option value="{{ category }}">
                        {% endfor %}
                    </datalist>
                    {% endif %}

                    <div class="inline">
                        {{ form.draft }}
                        <label for="id_draft">{% trans 'Draft' %}</label>
                    </div>

                    <div>
                        <label for="id_title">{% trans 'Title' %}&nbsp;:</label>
                        {{ form.title }}
                    </div>

                    <div>
                        <label for="id_category">{% trans 'Category' %}&nbsp;:</label>
                        {{ form.category }}
                    </div>

                    <div>
                        <label for="id_content">{% trans 'Text' %}&nbsp;:</label>
                        {{ form.content }}
                    </div>

                    <footer>
                        {% if static %}
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                        {% else %}
                        <input class="important" type="submit" value="{% trans 'Create' %}" />
                        {% endif %}
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

