{% extends "base.html" %}

{% load utils i18n %}

{% block title %} -
    {% if page == "static" %}
        {% trans 'Pages list' %}
    {% else %}
        {% trans 'My drafts' %}
    {% endif %}
{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if page == "static" %}
                    <i class="fa fa-fw fa-file-text"></i>
                    {% trans 'Pages' %}
                    {% else %}
                    <i class="fa fa-fw fa-paperclip"></i>
                    {% trans 'My drafts' %}
                    {% endif %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'static_random' %}" title="{% trans 'Random page' %}">
                                <i class="fa fa-fw fa-random"></i></a>
                        </li>
                        {% if perms.static.add_staticpage %}
                        <li class="custom-action">
                            {% if page == "static" %}
                            <a href="{% url 'drafts_home' %}" title="{% trans 'My drafts' %}">
                                <i class="fa fa-fw fa-paperclip"></i></a>
                            {% else %}
                            <a href="{% url 'static_home' %}" title="{% trans 'Pages' %}">
                                <i class="fa fa-fw fa-folder"></i></a>
                            {% endif %}
                        </li>
                        <li class="creative-action">
                            <a href="{% url 'action_static_add' %}" title="{% trans 'New page' %}">
                                <i class="fa fa-fw fa-plus"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            {% if pages|length > 0 %}
            <aside class="table">
                {% for page in pages %}
                <div class="big">
                    <span class="full-size">
                        <a href="{% url 'static_look' page.identifier page.pk %}">{{ page.title }}</a>
                    </span>

                    <span class="nowrap right">
                        {% if page.category %}
                        <i class="fa fa-fw fa-tag"></i>
                        <small>
                            <a href="{% url 'static_home' %}">
                                {{ page.category }}
                            </a>
                        </small>
                        {% endif %}
                    </span>

                    <span class="nowrap">
                        <i class="fa fa-fw fa-calendar"></i>
                        <small>{% if page.updated|istoday %}
                        <strong>{{ page.updated|prettydate }}</strong>
                        {% else %}
                        {{ page.updated|prettydate }}
                        {% endif %}</small>
                    </span>

                    <span>
                        <a href="{% url 'profile' page.user.username %}">
                            <img class="avatar big" title="{{ page.user.username }}"
                                src="{{ page.user.informations.avatar.url|avatar }}" />
                        </a>
                    </span>
                </div>
                {% endfor %}
            </aside>
            {% else %}
            <div class="banner warning">
                {% trans 'No page available' %}
            </div>
            {% endif %}
        </article>

        {% if pages.paginator.num_pages > 1 %}
        <nav class="pagination">
            <ul>
                <li>
                    {% if pages.has_previous %}
                    <a href="{% url 'static_page' 1 %}">
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if pages.has_previous %}
                    <a href="{% url 'static_page' pages.previous_page_number %}">
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </div>
                    {% endif %}
                </li>
                <li class="selector">
                    <form action="{% url 'action_static_page' %}" method="post">
                        {% csrf_token %}

                        <label for="page">{% trans 'Move to page' %}</label>
                        <select name="page" id="page">
                            {% for index in pages.paginator.page_range %}
                            <option {% if index == pages.number %}selected="selected"{% endif %}
                                value="{{ index }}">{{ index }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" name="valid" value="Go" id="valid" />
                    </form>
                </li>
                <li>
                    {% if pages.has_next %}
                    <a href="{% url 'static_page' pages.next_page_number %}">
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if pages.has_next %}
                    <a href="{% url 'static_page' pages.paginator.num_pages %}">
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}
{% endblock %}

