{% load utils i18n %}
                        <li {% if page == 'static' or page == 'drafts' %}class="active"{% endif %}>
                            <a href="{% url 'static_home' %}">
                                {% trans 'Pages' %}
                            </a>
                            {% if perms.static.add_staticpage %}
                            <a href="{% url 'drafts_home' %}" title="{% trans 'My drafts' %}">
                                <i class="fa fa-fw fa-paperclip custom-action"></i>
                            </a>
                            {% endif %}
                            <a href="{% url 'static_random' %}" title="{% trans 'Random page' %}">
                                <i class="fa fa-fw fa-random normal-action"></i>
                            </a>
                            {% if perms.static.add_staticpage %}
                            <a href="{% url 'action_static_add' %}" title="{% trans 'Add page' %}">
                                <i class="fa fa-fw fa-plus creative-action"></i>
                            </a>
                            {% endif %}
                        </li>
