{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'Page' %} - {{ page.title }}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if static.draft %}
                    <i class="fa fa-fw fa-paperclip"></i>
                    {% else %}
                    <i class="fa fa-fw fa-file-text"></i>
                    {% endif %}
                    {{ static.title }}
                </h1>

                <nav>
                    <ul>
                        <li>
                        {% if static.draft %}
                            <a href="{% url 'drafts_home' %}" title="{% trans 'Back to drafts' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        {% else %}
                            <a href="{% url 'static_home' %}" title="{% trans 'Back to pages' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        {% endif %}
                        </li>
                    {% if perms.static.change_staticpage %}
                        {% if user.pk == static.user.pk or user.is_staff %}
                        <li>
                            <a href="{% url 'action_static_edit' static.pk %}" title="{% trans 'Edit' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if perms.static.delete_staticpage %}
                        {% if user.pk == static.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_static_delete' static.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <div class="text">
                {{ static.content|markdown_to_html|safe }}
            </div>

            <footer>
                <small class="full-size">
                    {% if static.user.is_active %}
                    <a href="{% url 'profile' static.user.username %}">
                        <img src="{{ static.user.informations.avatar.url|avatar }}"
                            class="avatar small space" />{{ static.user.username }}
                    </a>
                    {% else %}
                    <img src="{{ static.user.informations.avatar.url|avatar }}"
                        class="avatar small space" /><strike>{{ static.user.username }}</strike>
                    {% endif %}
                </small>

                <small class="nowrap">
                    {% if static.updated|date > static.created|date %}
                    <i class="fa fa-fw fa-pencil" title="{{ static.updater.username }}"></i>
                    {{ static.updated|prettydate }}
                    {% else %}
                    {{ static.created|prettydate }}
                    {% endif %}
                </small>
            </footer>
        </article>
{% endblock %}

