{% extends "base.html" %}

{% load utils i18n %}

{% block title %} -
    {% if channel %}
        {% trans 'Edit channel' %} - {{ channel.title }}
    {% else %}
        {% trans 'New channel' %}
    {% endif %}
{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if channel %}
                    <i class="fa fa-fw fa-edit"></i>
                    {% trans 'Edit channel' %}
                    {% else %}
                    <i class="fa fa-fw fa-plus-square"></i>
                    {% trans 'New channel' %}
                    {% endif %}
                </h1>

                <nav>
                    <ul>
                        {% if channel %}
                        <li>
                            <a href="{% url 'channel_look' channel.identifier channel.pk %}" title="{% trans 'Back to channel' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                        {% if perms.channel.delete_channel %}
                        <li class="destructive-action">
                            <a href="{% url 'action_channel_delete' channel.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                        {% else %}
                        <li>
                            <a href="{% url 'root' %}" title="{% trans 'Back to home' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div>
                        <label for="id_title">{% trans 'Title' %}&nbsp;:</label>
                        {{ form.title }}
                    </div>

                    <div>
                        <label for="id_description">{% trans 'Description' %}&nbsp;:</label>
                        {{ form.description }}
                    </div>

                    <div>
                        <label for="id_category">{% trans 'Category' %}&nbsp;:</label>
                        {{ form.category }}
                    </div>

                    <footer>
                        {% if channel %}
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                        {% else %}
                        <input class="important" type="submit" value="{% trans 'Create' %}" />
                        {% endif %}
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

