{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {{ channel.title }}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-hashtag"></i>
                    {{ channel.title }}
                </h1>

                <nav>
                    <ul>
                        {% if perms.channel.add_topic %}
                        <li class="creative-action">
                            <a href="{% url 'action_topic_add' channel.pk %}" title="{% trans 'New topic' %}">
                                <i class="fa fa-fw fa-plus"></i></a>
                        </li>
                        {% endif %}
                        {% if perms.channel.change_channel %}
                        <li>
                            <a href="{% url 'action_channel_edit' channel.pk %}" title="{% trans 'Edit' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        {% endif %}
                        {% if perms.channel.delete_channel %}
                        <li class="destructive-action">
                            <a href="{% url 'action_channel_delete' channel.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            {% if topics|length > 0 %}
            <aside class="table">
                {% for topic in topics %}
                <div class="big">
                    <span>
                        {% if topic.stick %}
                        <i class="fa fa-fw fa-thumb-tack"></i>
                        {% elif topic.lock %}
                        <i class="fa fa-fw fa-lock"></i>
                        {% elif topic.comments|length > 0 %}
                        <i class="fa fa-fw fa-file-text"></i>
                        {% else %}
                        <i class="fa fa-fw fa-file-o"></i>
                        {% endif %}
                    </span>

                    <span class="full-size">
                        <a href="{% url 'topic_look' topic.identifier topic.pk %}">
                            {{ topic.title }}
                        </a>
                    </span>

                    <span class="nowrap">
                        {% if topic.comments|length > 0 %}
                        <i class="fa fa-fw fa-commenting"></i>
                        <small>
                            {{ topic.comments|length }}
                        </small>
                        {% endif %}
                    </span>

                    <span class="nowrap">
                        <i class="fa fa-fw fa-calendar"></i>
                        <small>
                        {% if topic.updated|istoday %}
                            <strong>{{ topic.updated|prettydate }}</strong>
                        {% else %}
                            {{ topic.updated|prettydate }}
                        {% endif %}
                        </small>
                    </span>

                    <span>
                        <a href="{% url 'profile' topic.user.username %}">
                            <img class="avatar big" title="{{ topic.user.username }}"
                                src="{{ topic.user.informations.avatar.url|avatar }}" />
                        </a>
                    </span>
                </div>
                {% endfor %}
            </aside>
        {% else %}
        <div class="banner warning">
            {% trans 'No topic available for this channel' %}
        </div>
        {% endif %}
        </article>

        {% if topics.paginator.num_pages > 1 %}
        <nav class="pagination">
            <ul>
                <li>
                    {% if topics.has_previous %}
                    <a href="{% url 'channel_page' channel.identifier channel.pk 1 %}">
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if topics.has_previous %}
                    <a href="{% url 'channel_page' channel.identifier channel.pk topics.previous_page_number %}">
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </div>
                    {% endif %}
                </li>
                <li class="selector">
                    <form action="{% url 'action_channel_page' channel.pk %}" method="post">
                        {% csrf_token %}

                        <label for="page">{% trans 'Move to page' %}</label>
                        <select name="page" id="page">
                            {% for index in topics.paginator.page_range %}
                            <option {% if index == topics.number %}selected="selected"{% endif %}
                                value="{{ index }}">{{ index }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" name="valid" value="Go" id="valid" />
                    </form>
                </li>
                <li>
                    {% if topics.has_next %}
                    <a href="{% url 'channel_page' channel.identifier channel.pk topics.next_page_number %}">
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if topics.has_next %}
                    <a href="{% url 'channel_page' channel.identifier channel.pk topics.paginator.num_pages %}">
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}
{% endblock %}

