/* --------------------------------------------------------------------------
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 * -------------------------------------------------------------------------- */

*, *:before, *:after {
    box-sizing: border-box;
}

body, h1, h2, h3, h4, h5, h6, p, a, img, ul, li {
    margin: 0;
    padding: 0;
}

h1 {
    font-size: x-large;
}

h2 {
    font-size: large;
}

h3, h4, h5, h6 {
    font-size: medium;
}

a {
    outline: none;
}

a:hover {
    text-decoration: underline;
}

ul {
    list-style: none;
}

li {
    list-style-position: inside;
}

hr {
    height: 1px;

    border: none;
}

select,
input[type="submit"]:hover {
    cursor: pointer;
}

input[type="submit"]:hover {
    text-decoration: underline;
}

.left { text-align: left !important; }
.right { text-align: right !important; }
.center { text-align: center !important; }

.space { margin-right: 6px; }
.anti-space { margin-left: 6px; }

.mid-spacing { padding: 6px; }
.spacing { padding: 12px; }

.bold { font-weight: bold; }

.nowrap { white-space: nowrap; }
.nowrap > a { display: inline-block !important; }

.middle { vertical-align: middle; }

.avatar {
    display: inline-block;

    border-radius: 2px;
}

.avatar.tiny { min-width: 8px; max-width: 8px; max-height: 8px; }
.avatar.small { min-width: 16px; max-width: 16px; max-height: 16px; }
.avatar.normal { min-width: 22px; max-width: 22px; max-height: 22px; }
.avatar.medium { min-width: 24px; max-width: 24px; max-height: 24px; }
.avatar.big { min-width: 32px; max-width: 32px; max-height: 32px; }
.avatar.large { min-width: 48px; max-width: 48px; max-height: 96px; }
.avatar.huge { min-width: 64px; max-width: 64px; max-height: 128px; }
.avatar.extra { min-width: 128px; max-width: 128px; max-height: 256px; }
.avatar.awesome { min-width: 256px; max-width: 256px; max-height: 512px; }

.button > a {
    display: inline-block;

    padding: 8px 12px;

    border-radius: 2px;
}

/* --------------------------------------------------------------------------
 *  Body
 * -------------------------------------------------------------------------- */

body {
    min-width: 1024px;
    max-width: 1280px;

    margin: 12px auto 24px;
}

/* --------------------------------------------------------------------------
 *  Menu
 * -------------------------------------------------------------------------- */

body > nav {
    position: relative;
    top: 0;

    display: flex;
}

body > nav > ul {
    flex: 100%;
}

body > nav > ul:first-child {
    text-align: left;
}

body > nav > ul:last-child {
    text-align: right;
}

body > nav > ul > li {
    display: inline-block;
}

body > nav > ul > li > a {
    display: block;

    padding: 8px 12px;

    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

/* --------------------------------------------------------------------------
 *  Body layout
 * -------------------------------------------------------------------------- */

body > main {
    display: flex;

    margin: 12px auto;
}

body > main > section > aside,
body > main > section > article {
    padding: 12px;
}

/* --------------------------------------------------------------------------
 *  Sidebar
 * -------------------------------------------------------------------------- */

section.sidebar {
    width: 25%;

    margin-right: 12px;
}

section.sidebar > aside {
    margin-bottom: 12px;
}

section.sidebar > aside:last-child {
    margin-bottom: 0;
}

section.sidebar > aside > header > h2 {
    display: flex;

    margin-bottom: 8px;

    align-items: center;
}

section.sidebar > aside > header > h2 > span:first-child {
    flex: 100%;
}

section.sidebar > aside > header > h2 > span > a {
    display: block;

    padding: 4px;

    font-size: smaller;
}

section.sidebar > aside header > h3 {
    margin: 12px auto 4px;

    font-variant: small-caps;

    text-align: center;
}

section.sidebar > aside ul {
    display: block;
}

section.sidebar > aside ul > li {
    display: flex;

    padding-left: 4px;

    border-left: 4px solid transparent;
}

section.sidebar > aside ul > li > a {
    display: block;

    padding: 6px 6px 6px 2px;
}

section.sidebar > aside ul > li > a:last-child {
    padding-right: 2px;
}

section.sidebar > aside ul > li > a:first-child {
    flex: 100%;

    min-width: 0;

    overflow: hidden;
    text-overflow: ellipsis;

    white-space: nowrap;
}

/* --------------------------------------------------------------------------
 *  Content
 * -------------------------------------------------------------------------- */

section.content {
    width: 75%;
    max-width: 75%;

    margin: 0 auto;

    flex: 100%;
}

section.content > aside,
section.content > article {
    margin-bottom: 12px;
}

section.content > aside:last-child,
section.content > article:last-child {
    margin-bottom: 0;
}

section.content > article {
    border: 2px solid transparent;
}

section.content > article > header {
    display: flex;

    margin-bottom: 12px;

    align-items: center;
}

section.content > article > header > h1,
section.content > article > aside > header > h2 {
    flex: 100%;

    text-align: left;
}

section.content > article > header > nav {
    white-space: nowrap;
}

section.content > article > header > nav > ul > li {
    display: inline-block;
}

section.content > article > header > nav > ul > li > a {
    display: block;

    padding: 4px;
}

section.content > article > header > nav > ul > li > i {
    display: block;

    padding: 6px;
}

section.content > article > header > nav > ul > li:last-child > i {
    margin-right: 0;
}

section.content > article > footer {
    display: flex;

    padding: 6px;

    white-space: nowrap;

    align-items: center;
}

section.content > article > footer > small:first-child {
    flex: 100%;
}

section.content > article > div.text {
    padding: 16px;

    text-align: justify;
}

/* --------------------------------------------------------------------------
 *  Description
 * -------------------------------------------------------------------------- */

section.content > article > aside.summary {
    margin-bottom: 12px;
}

section.content > article > aside.description {
    margin-bottom: 6px;
    padding: 12px;
}

section.content > article > aside.description > aside {
    margin-bottom: 6px;
    padding: 6px;
}

section.content > article > aside.description:last-child,
section.content > article > aside.description > aside:last-child {
    margin-bottom: 0;
}

section.content > article > aside.description > header {
    display: flex;

    margin-bottom: 8px;
    padding-bottom: 4px;

    border-bottom: 1px solid transparent;

    align-items: center;
}

section.content > article > aside.description > header > nav {
    white-space: nowrap;
}

section.content > article > aside.description > header > nav > ul > li {
    display: inline-block;
}

section.content > article > aside.description > header > nav > ul > li > a {
    display: block;

    margin-left: 8px;
    padding: 2px;
}

section.content > article > aside.description > aside > header {
    margin-bottom: 6px;
}

section.content > article > aside.description > ul > li,
section.content > article > aside.description > aside > div,
section.content > article > aside.description > aside > ul > li {
    padding: 4px 6px;
}

/* --------------------------------------------------------------------------
 *  Upload
 * -------------------------------------------------------------------------- */

section.content > article.upload > aside {
    margin-bottom: 6px;
}

section.content > article.upload > aside:last-child {
    margin-bottom: 0;
}

section.content > article.upload > aside > div {
    padding: 6px;
}

section.content > article.upload > aside > div > strong {
    margin-bottom: 6px;
}

section.content > article.upload > aside > div audio,
section.content > article.upload > aside > div video,
section.content > article.upload > aside > div picture,
section.content > article.upload > aside > div img {
    max-width: 640px;
    max-height: 320px;
}

/* --------------------------------------------------------------------------
 *  Content grid
 * -------------------------------------------------------------------------- */

.grid {
    display: flex;

    flex-flow: row wrap;

    align-items: baseline;
    justify-content: center;
}

.grid.middle {
    align-items: center;
}

.grid a {
    display: inline-block;

    margin: 6px;
    padding: 12px;

    text-align: center;

    vertical-align: middle;
}

.grid a > img {
    display: block;

    margin-bottom: 3px;
}

/* --------------------------------------------------------------------------
 *  Content table
 * -------------------------------------------------------------------------- */

aside.table {
    display: table;

    width: 100%;
}

aside.table > div {
    display: table-row;
}

aside.table > div > span {
    display: table-cell;

    padding: 6px;

    border-bottom: 1px solid transparent;

    vertical-align: middle;
}

aside.table > div.big > span {
    height: 46px;
}

aside.table > div:last-child > span {
    border: none;
}

aside.table > div > span.full-size {
    width: 100%;
}

aside.table > div > span > a {
    display: block;
}

aside.table > div > span > a > img {
    vertical-align: bottom;
}

/* --------------------------------------------------------------------------
 *  Comments
 * -------------------------------------------------------------------------- */

section.content > aside.comment {
    margin-bottom: 12px;
    padding: 10px;

    border: 3px solid transparent;
}

section.content > aside.comment:last-child {
    margin-bottom: 0;
}

section.content > aside.comment > header {
    display: flex;

    white-space: nowrap;

    align-items: baseline;
}

section.content > aside.comment > header > div,
section.content > aside.comment > header > nav {
    font-size: smaller;
}

section.content > aside.comment > header > div {
    margin: 0 6px;
}

section.content > aside.comment > header > div:first-child {
    flex: 100%;
}

section.content > aside.comment > header > nav > ul > li {
    display: inline-block;
}

section.content > aside.comment > header > nav > ul > li > a {
    display: block;

    margin-left: 4px;
    padding: 4px;
}

section.content > aside.comment > div {
    display: flex;
}

section.content > aside.comment > div > *:first-child {
    padding: 6px;
}

/* --------------------------------------------------------------------------
 *  Comment writer
 * -------------------------------------------------------------------------- */

section.content > form.comment {
    width: 100%;
}

section.content > form.comment > div:first-child {
    flex: 100%;
}

section.content > form.comment textarea {
    width: 100%;
    height: 48px;

    margin-bottom: 6px;
    padding: 12px;

    border: none;
    border-radius: 0;
}

/* --------------------------------------------------------------------------
 *  Paginator
 * -------------------------------------------------------------------------- */

section.content > nav.pagination {
    margin-bottom: 12px;
}

section.content > nav.pagination > ul,
section.content > nav.pagination > ul > li > form {
    display: flex;

    vertical-align: middle;

    white-space: nowrap;

    justify-content: center;
}

section.content > nav.pagination > ul > li.selector {
    flex: 100%;

    margin-left: 4px;
    margin-right: 4px;
}

section.content > nav.pagination > ul > li > a,
section.content > nav.pagination > ul > li > form > label,
section.content > nav.pagination > ul > li > form > input,
section.content > nav.pagination > ul > li > form > select {
    display: block;
}

section.content > nav.pagination > ul > li > a,
section.content > nav.pagination > ul > li > div,
section.content > nav.pagination > ul > li > form > label {
    padding: 6px 12px;
}

section.content > nav.pagination > ul > li > form > label,
section.content > nav.pagination > ul > li > form > select {
    margin-right: 4px;
}

section.content > nav.pagination > ul > li > a,
section.content > nav.pagination > ul > li > div {
    padding: 6px 12px;

    border: 1px solid transparent;

    border-radius: 2px;
}

section.content > nav.pagination > ul > li > a,
section.content > nav.pagination > ul > li > form > select {
    font-weight: bold;
}

section.content > nav.pagination > ul > li > a:first-child {
    margin-right: 4px;
}

section.content > nav.pagination > ul > li > a:last-child {
    margin-left: 4px;
}

section.content > nav.pagination > ul > li:first-child > a {
    margin-left: 0;
}

section.content > nav.pagination > ul > li:last-child > a {
    margin-right: 0;
}

section.content > nav.pagination > ul > li input[type="submit"] {
    margin-top: 0;
}

/* --------------------------------------------------------------------------
 *  Profile
 * -------------------------------------------------------------------------- */

section.content > article.profile > aside.image {
    margin: 12px auto;

    text-align: center;
}

section.content > article.profile > aside.image > img {
    border-radius: 2px;
}

/* --------------------------------------------------------------------------
 *  Banner
 * -------------------------------------------------------------------------- */

section.content div.banner {
    margin-bottom: 12px;
    padding: 12px;

    border: 2px solid transparent;

    font-weight: bold;

    text-align: center;
}

/* --------------------------------------------------------------------------
 *  Form
 * -------------------------------------------------------------------------- */

form > div {
    display: flex;

    margin-top: 6px;
    margin-bottom: 12px;

    flex-direction: column;
}

form > div.inline {
    margin-top: 0;
    margin-bottom: 0;
    padding: 8px 0;

    flex-direction: row;

    align-items: center;
}

form.delete {
    text-align: center;
}

form.delete > div {
    display: inline-block;

    margin: 8px;
}

form > div:first-child {
    margin-top: 0;
}

form > div > label {
    margin-bottom: 6px;

    text-align: left;

    white-space: nowrap;
}

form > div.inline > label {
    margin-bottom: 0;
}

form > div.inline > input[type="checkbox"] {
    margin-right: 12px;
}

form > div.inline > input[type="url"],
form > div.inline > input[type="file"],
form > div.inline > input[type="text"],
form > div.inline > input[type="email"],
form > div.inline > input[type="password"] {
    flex: 100%;
}

form > div.new-line {
    margin-top: 24px;
}

label {
    font-weight: bold;

    text-align: right;
}

textarea,
input[type="url"],
input[type="file"],
input[type="text"],
input[type="email"],
input[type="password"],
span > select {
    width: 100%;
}

select,
textarea,
input[type="url"],
input[type="file"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    padding: 6px;

    border: 2px solid transparent;

    border-radius: 1px;
}

select,
input[type="radio"],
input[type="checkbox"] {
    -moz-appearance: none;
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;

    font: normal normal normal 32px/1 ForkAwesome;
}

input[type="radio"]:after {
    content: "\f10c";
}

input[type="radio"]:checked:after {
    content: "\f192";
}

input[type="checkbox"]:after {
    content: "\f204";
}

input[type="checkbox"]:checked:after {
    content: "\f205";
}

input[type="submit"] {
    margin-top: 6px;
    padding: 8px 16px;

    border: none;

    border-radius: 1px;

    font-weight: bold;
}

textarea {
    min-height: 48px;

    resize: vertical;
}

aside > div > span > textarea {
    height: 240px;
}

form > footer {
    text-align: center;
}

/* --------------------------------------------------------------------------
 *  Text content
 * -------------------------------------------------------------------------- */

div.text {
    text-align: justify;
}

div.text h1 {
    margin-bottom: 12px;

    font-size: xx-large;
    font-variant: small-caps;

    text-align: center;
}

div.text h2 {
    margin: 12px 0 18px;

    border-bottom: 1px solid;

    font-size: x-large;
}

div.text h3 {
    margin: 16px auto 8px;

    font-size: large;

    line-height: 1.5;
}

div.text p {
    margin: 0 auto 6px;
    padding: 6px;

    line-height: 1.3;
}

div.text ul {
    padding: 6px 6px 6px 24px;

    list-style: disc;
}

div.text ul > li {
    line-height: 1.4;

    list-style-position: inside;
}

div.text audio,
div.text video,
div.text picture,
div.text img {
    max-width: 640px;
    max-height: 320px;
}

div.text pre {
    margin: 6px auto 12px;
    padding: 12px;

    overflow: auto;
}

div.text dl {
    margin: 6px 24px;
    padding: 6px 12px;

    border: 1px solid;
}

div.text dl dt {
    margin-bottom: 6px;

    font-weight: bolder;
}

div.text dl dd {
    margin-bottom: 6px;
}

div.text table {
    width: 100%;

    margin: 6px auto 12px;

    border-spacing: 0;

    table-layout: auto;
}

div.text table th,
div.text table td {
    padding: 6px 12px;
}

div.text table th {
    text-align: center;
    text-overflow: ellipsis;

    border-bottom: 2px solid transparent;

    white-space: nowrap;
}

div.text table tr td {
    border-right: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

div.text table tr td:last-child {
    border-right: none;
}

div.text table tr:last-child td {
    border-bottom: none;
}

div.text table th:last-child,
div.text table td:last-child {
    border-right: none;
}

div.text table.table-expand-first th,
div.text table.table-expand-first td {
    text-align: center;

    white-space: nowrap;
}

div.text table.table-expand-first th:first-child,
div.text table.table-expand-first td:first-child {
    width: 100%;

    text-align: left;
}

div.text table.codehilitetable {
    margin: 6px 24px 12px;

    border: 1px solid;

    table-layout: auto;
}

div.text table.codehilitetable th,
div.text table.codehilitetable td {
    padding: 0;

    border: none;
}

div.text table.codehilitetable pre {
    margin: 0;
}

div.text table.codehilitetable .code {
    width: 100%;
}

div.text table.codehilitetable .linenodiv pre {
    border-right: 1px solid;
}

/* --------------------------------------------------------------------------
 *  Responsive template
 * -------------------------------------------------------------------------- */

@media (max-width: 1279px) {
    body {
        margin: 0 auto;
    }

    section.content > nav.pagination {
        text-align: center;
    }

    section.content > nav.pagination > ul {
        display: inline-block;

        margin: 0 auto;

        text-align: center;
    }

    section.content > nav.pagination > ul > li {
        margin-bottom: 6px;
    }

    section.content > nav.pagination > ul > li:last-child {
        margin-bottom: 0;
    }

    section.content > nav.pagination > ul > li.selector,
    section.content > nav.pagination > ul > li > a:first-child,
    section.content > nav.pagination > ul > li > a:last-child {
        margin-left: 0;
        margin-right: 0;
    }

    section.content > nav.pagination > ul > li > form > label {
        flex: 100%;

        text-align: right;
    }
}

@media (max-width: 999px) {
    body {
        min-width: 0;
        max-width: 799px;

        margin: 0 auto;
    }

    body > nav {
        position: relative;
    }

    body > main {
        display: flex;

        flex-direction: column;

        margin: 6px auto;
    }

    body > main > section {
        flex: 100%;

        width: 100% !important;
        max-width: 100% !important;
    }

    section.sidebar {
        margin: 0 0 6px;
    }

    section.sidebar > aside {
        margin-bottom: 6px;
    }

    section.sidebar > aside > ul {
        display: none;
    }

    .text audio,
    .text video,
    .text picture,
    .text img {
        max-width: 90% !important;
        max-height: 200px !important;
    }

    section.content > article > header {
        flex-direction: column;

        align-items: start;
    }

    section.content > article > header > h1,
    section.content > article > aside > header > h2 {
        margin-bottom: 6px;

        font-size: medium;
    }

    section.content > aside > header {
        flex-direction: column;

        align-items: start;
    }

    section.content > aside > header > div {
        padding-bottom: 6px;
    }

    section.content > aside > header > div > em {
        white-space: normal;
    }

    aside.table > div > span {
        white-space: normal !important;
    }

    aside.table > div > span:nth-child(3),
    aside.table > div > span:last-child {
        display: none;
    }
}
