{% extends "base.html" %}

{% load utils i18n %}

{% block title %} -
    {% if game %}
        {% trans 'Edit game' %} - {{ game.title }}
    {% else %}
        {% trans 'New game' %}
    {% endif %}
{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if game %}
                    <i class="fa fa-fw fa-edit"></i>
                    {% trans 'Edit game' %}
                    {% else %}
                    <i class="fa fa-fw fa-plus-square"></i>
                    {% trans 'New game' %}
                    {% endif %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            {% if game %}
                            <a href="{% url 'game_look' game.identifier game.pk %}" title="{% trans 'Back to game' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% else %}
                            <a href="{% url 'game_home' %}" title="{% trans 'Back to games' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% endif %}
                        </li>
                    {% if game and user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_game_delete' game.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div class="inline">
                        {{ form.hostable }}
                        <label for="id_hostable">{% trans 'Hostable' %}</label>
                    </div>

                    <div>
                        <label for="id_title">{% trans 'Title' %}&nbsp;:</label>
                        {{ form.title }}
                    </div>

                    <div>
                        <label for="id_website">{% trans 'Website' %}&nbsp;:</label>
                        {{ form.website }}
                    </div>

                    <div>
                        <label for="id_description">{% trans 'Description' %}&nbsp;:</label>
                        {{ form.description }}
                    </div>

                    <div>
                        <label for="id_platforms">{% trans 'Platforms' %}&nbsp;:</label>
                        {{ form.platforms }}
                    </div>

                    <div>
                        <label for="id_distributors">{% trans 'Distributors' %}&nbsp;:</label>
                        {{ form.distributors }}
                    </div>

                    <div>
                        <label for="id_server">{% trans 'Server' %}&nbsp;:</label>
                        {{ form.server }}
                    </div>

                    <footer>
                        {% if game %}
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                        {% else %}
                        <input class="important" type="submit" value="{% trans 'Create' %}" />
                        {% endif %}
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

