{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'Games list' %}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-gamepad"></i>
                    {% trans 'Games' %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="" title="{% trans 'Random game' %}">
                                <i class="fa fa-fw fa-random"></i></a>
                        </li>
                        {% if perms.game.add_game %}
                        <li class="creative-action">
                            <a href="{% url 'action_game_add' %}" title="{% trans 'New game' %}">
                                <i class="fa fa-fw fa-plus"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            {% if games|length > 0 %}
            <aside class="table">
                {% for game in games %}
                <div class="big">
                    <span>
                        {% if game.hostable %}
                        <i class="fa fa-fw fa-server"></i>
                        {% else %}
                        <i class="fa fa-fw fa-cloud"></i>
                        {% endif %}
                    </span>

                    <span class="full-size">
                        <a href="{% url 'game_look' game.identifier game.pk %}"
                            title="{{ game.summary }}">
                            {{ game.title }}
                        </a>
                    </span>

                    <span class="nowrap right">
                    {% for player in game.users.all|dictsort:"username" %}
                        {% if player.is_active %}
                        <a href="{% url 'profile' player.username %}">
                            <img class="avatar big" title="{{ player.username }}"
                                src="{{ player.informations.avatar.url|avatar }}" />
                        </a>
                        {% endif %}
                    {% endfor %}
                    </span>
                </div>
                {% endfor %}
            </aside>
            {% else %}
            <div class="banner warning">
                {% trans 'No game available' %}
            </div>
            {% endif %}
        </article>

        {% if games.paginator.num_pages > 1 %}
        <nav class="pagination">
            <ul>
                <li>
                    {% if games.has_previous %}
                    <a href="{% url 'game_page' 1 %}">
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if games.has_previous %}
                    <a href="{% url 'game_page' games.previous_page_number %}">
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </div>
                    {% endif %}
                </li>
                <li class="selector">
                    <form action="{% url 'action_game_page' %}" method="post">
                        {% csrf_token %}

                        <label for="page">{% trans 'Move to page' %}</label>
                        <select name="page" id="page">
                            {% for index in games.paginator.page_range %}
                            <option {% if index == games.number %}selected="selected"{% endif %}
                                value="{{ index }}">{{ index }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" name="valid" value="Go" id="valid" />
                    </form>
                </li>
                <li>
                    {% if games.has_next %}
                    <a href="{% url 'game_page' games.next_page_number %}">
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if games.has_next %}
                    <a href="{% url 'game_page' games.paginator.num_pages %}">
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}
{% endblock %}

