{% load utils i18n %}
                        <li {% if page == 'games' %}class="active"{% endif %}>
                            <a href="{% url 'game_home' %}">
                                {% trans 'Games' %}
                            </a>
                            <a href="{% url 'game_random' %}" title="{% trans 'Random game' %}">
                                <i class="fa fa-fw fa-random normal-action"></i>
                            </a>
                            {% if perms.game.add_game %}
                            <a href="{% url 'action_game_add' %}" title="{% trans 'Add game' %}">
                                <i class="fa fa-fw fa-plus creative-action"></i>
                            </a>
                            {% endif %}
                        </li>
