{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'Game' %} - {{ game.title }}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-gamepad"></i>
                    {{ game.title }}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'game_home' %}" title="{% trans 'Back to games' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                    {% if perms.game.change_game %}
                        <li>
                            <a href="{% url 'action_game_edit' game.pk %}" title="{% trans 'Edit' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                    {% endif %}
                    {% if user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_game_delete' game.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <aside class="description">
                <header>
                    <h2>
                        <i class="fa fa-fw fa-file-text"></i>
                        {% trans 'Informations' %}
                    </h2>
                </header>

                {% if game.description %}
                <aside>
                    <div class="text">
                        {{ game.description|markdown_to_html|safe }}
                    </div>
                </aside>
                {% endif %}

                {% if game.website %}
                <aside>
                    <header>
                        <h3>
                            {% trans 'Website' %}
                        </h3>
                    </header>

                    <ul>
                        <li>
                            <i class="fa fa-fw fa-globe"></i>
                            <a href="{{ game.website }}">{{ game.website }}</a>
                        </li>
                    </ul>
                </aside>
                {% endif %}

                <aside>
                    <header>
                        <h3>
                            {% trans 'Server' %}
                        </h3>
                    </header>

                    <ul>
                        {% if game.hostable %}
                        <li>
                            <i class="fa fa-fw fa-check green"></i>
                            {% trans 'Possible to host his own server' %}
                        </li>
                        {% if game.server %}
                        <li>
                            <i class="fa fa-fw fa-server"></i>
                            {% trans 'Server available' %}&nbsp;:
                            <a href="{% url 'server_look' game.server.identifier game.server.pk %}"
                                title="{{ game.server.user }}">{{ game.server.title }}</a>
                        <li>
                        {% endif %}
                        {% else %}
                        <li>
                            <i class="fa fa-fw fa-close red"></i>
                            {% trans 'Connection to official server only' %}
                        </li>
                        {% endif %}
                    </ul>
                </aside>

                {% if game.platforms.all|length > 0 %}
                <aside class="description">
                    <header>
                        <h3>
                            {% trans 'Available on' %}
                        </h3>
                    </header>

                    <ul>
                    {% for platform in game.platforms.all|dictsort:"title" %}
                        <li>
                            {% if platform.icon %}
                            <i class="fa fa-fw fa-{{ platform.icon }}"></i>
                            {% else %}
                            <i class="fa fa-fw fa-desktop"></i>
                            {% endif %}
                            {{ platform.title }}
                        </li>
                    {% endfor %}
                    </ul>
                </aside>
                {% endif %}

                {% if game.distributors.all|length > 0 %}
                <aside>
                    <header>
                        <h3>
                            {% trans 'Distribute by' %}
                        </h3>
                    </header>

                    <ul>
                    {% for distributor in game.distributors.all|dictsort:"title" %}
                        <li>
                            {% if distributor.icon %}
                            <i class="fa fa-fw fa-{{ distributor.icon }}"></i>
                            {% else %}
                            <i class="fa fa-fw fa-cloud"></i>
                            {% endif %}
                            {% if distributor.website %}
                            <a href="{{ distributor.website }}">{{ distributor.title }}</a>
                            {% else %}
                            {{ distributor.title }}
                            {% endif %}
                        </li>
                    {% endfor %}
                    </ul>
                </aside>
            {% endif %}
            </aside>

            <aside class="description">
                <header>
                    <h2>
                        <i class="fa fa-fw fa-users"></i>
                        {% trans 'Players' %}
                    </h2>

                    {% if perms.game.change_game %}
                    <nav>
                        <ul>
                            <li class="{% if user in game.users.all %}destructive{% else %}creative{% endif %}-action">
                                <a href="{% url 'action_game_register' game.pk %}"
                                    title="{% if user in game.users.all %}{% trans 'Leave' %}{% else %}{% trans 'Register' %}{% endif %}">
                                    {% if user in game.users.all %}
                                    <i class="fa fa-minus fa-fw"></i>
                                    {% else %}
                                    <i class="fa fa-plus fa-fw"></i>
                                    {% endif %}
                                </a>
                            </li>
                        </ul>
                    </nav>
                    {% endif %}
                </header>

            {% if game.users.all|length > 0 %}
                <ul class="grid middle">
                {% for player in game.users.all|dictsort:"username" %}
                    <li>
                        <a href="{% url 'profile' player.username %}" title="{{ player.username }}">
                            <img class="avatar large"
                                src="{{ player.informations.avatar.url|avatar }}" />
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <div class="banner info">
                    {% trans 'No player yet' %}
                </div>
            {% endif %}
            </aside>
        </article>
{% endblock %}

