/* --------------------------------------------------------------------------
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU Affero General Public License as
 * published by the Free Software Foundation, either version 3 of the
 * License, or (at your option) any later version.
 *

 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU Affero General Public License for more details.
 *
 * You should have received a copy of the GNU Affero General Public License
 * along with this program.  If not, see <https://www.gnu.org/licenses/>.
 * -------------------------------------------------------------------------- */

hr {
    background-color: rgb(204, 204, 204);
}

a {
    color: rgb(86, 148, 69);
}

strike {
    color: rgb(77, 77, 77);
}

.blue {
    color: rgb(71, 170, 179);
}

.cyan {
    color: rgb(71, 179, 152);
}

.green {
    color: rgb(109, 179, 89);
}

.magenta {
    color: rgb(179, 125, 175);
}

.red {
    color: rgb(179, 72, 72);
}

.yellow {
    color: rgb(255, 226, 128);
}

.no-action {
    color: rgb(204, 204, 204);
}

.normal-action {
    color: rgb(71, 179, 152);
}

.custom-action {
    color: rgb(230, 157, 92);
}

.creative-action {
    color: rgb(109, 179, 89);
}

.destructive-action {
    color: rgb(179, 72, 72);
}

.custom-action > a {
    color: rgb(255, 255, 255);
    background-color: rgb(230, 157, 92);

    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.22);
    text-shadow: 0 0 1px rgba(26, 26, 26, 0.22);
}

.creative-action > a {
    color: rgb(255, 255, 255);
    background-color: rgb(109, 179, 89);

    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.22);
    text-shadow: 0 0 1px rgba(26, 26, 26, 0.22);
}

.destructive-action > a {
    color: rgb(255, 255, 255);
    background-color: rgb(179, 72, 72);

    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.22);
    text-shadow: 0 0 1px rgba(26, 26, 26, 0.22);
}

.button > a:hover {
    background-color: rgb(71, 170, 179);
}

/* --------------------------------------------------------------------------
 *  Body
 * -------------------------------------------------------------------------- */

body {
    background-color: rgb(226, 226, 226);
}

/* --------------------------------------------------------------------------
 *  Menu
 * -------------------------------------------------------------------------- */

body > nav {
    color: rgb(255, 255, 255);
    background-color: rgb(38, 38, 38);

    box-shadow: 1px 0 2px rgba(26, 26, 26, 0.2);
}

body > nav > ul > li > a {
    color: rgb(255, 255, 255);
}

body > nav > ul > li.active > a {
    background-color: rgba(255, 226, 128, 0.4);
    border-bottom-color: rgb(255, 226, 128);
}

body > nav > ul > li > a:hover {
    background-color: rgba(102, 243, 255, 0.2);
    border-bottom-color: rgb(102, 243, 255);
}

/* --------------------------------------------------------------------------
 *  Sidebar
 * -------------------------------------------------------------------------- */

section.sidebar > aside {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    box-shadow: 1px 0 2px rgba(26, 26, 26, 0.2);
}

section.sidebar > aside a {
    color: rgb(0, 0, 0);

    text-shadow: 0 0 1px rgba(26, 26, 26, 0.22);
}

section.sidebar > aside ul > li.active {
    background-color: rgba(255, 226, 128, 0.4);
    border-left-color: rgb(255, 226, 128);
}

section.sidebar > aside ul > li:hover {
    background-color: rgba(102, 243, 255, 0.2);
    border-left-color: rgb(102, 243, 255);
}

/* --------------------------------------------------------------------------
 *  Body layout
 * -------------------------------------------------------------------------- */

section.content > article {
    background-color: rgb(255, 255, 255);

    box-shadow: 1px 0 2px rgba(26, 26, 26, 0.22);
}

header > nav > ul > li > a {
    color: rgb(255, 255, 255);
    background-color: rgb(71, 179, 152);

    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.22);
    text-shadow: 0 0 1px rgba(26, 26, 26, 0.22);
}

header > nav > ul > li > a:hover {
    background-color: rgb(71, 170, 179);
}

/* --------------------------------------------------------------------------
 *  Description
 * -------------------------------------------------------------------------- */

section.content > article > aside.description > header {
    border-color: rgb(204, 204, 204);
}

/* --------------------------------------------------------------------------
 *  Content grid
 * -------------------------------------------------------------------------- */

.grid a:hover {
    background-color: rgba(102, 243, 255, 0.2);

    box-shadow: 1px 0 2px rgba(26, 26, 26, 0.2);
}

/* --------------------------------------------------------------------------
 *  Content table
 * -------------------------------------------------------------------------- */

aside.table > div > span {
    border-color: rgba(226, 226, 226, 0.75);
}

aside.table > div:hover > span {
    background-color: rgba(102, 243, 255, 0.2);
}

/* --------------------------------------------------------------------------
 *  Comments
 * -------------------------------------------------------------------------- */

section.content > aside.comment {
    border-color: transparent;
    background-color: rgb(255, 255, 255);

    box-shadow: 1px 0 2px rgba(26, 26, 26, 0.22);
}

section.content > aside.comment.owner {
    border-color: rgb(71, 170, 179);
}

/* --------------------------------------------------------------------------
 *  Comment writer
 * -------------------------------------------------------------------------- */

section.content > form.comment textarea {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);

    box-shadow: 1px 0 2px rgba(26, 26, 26, 0.2);
}

/* --------------------------------------------------------------------------
 *  Paginator
 * -------------------------------------------------------------------------- */

section.content > nav.pagination > ul > li > div {
    color: rgb(153, 153, 153);
}

section.content > nav.pagination > ul > li.selector > form > select {
    color: rgb(255, 255, 255);
    border-color: rgb(71, 179, 152);
    background-color: rgb(71, 179, 152);

    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.22);
    text-shadow: 0 0 1px rgba(26, 26, 26, 0.22);
}

section.content > nav.pagination > ul > li > a {
    color: rgb(255, 255, 255);
    background-color: rgb(71, 179, 152);

    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.22);
    text-shadow: 0 0 1px rgba(26, 26, 26, 0.22);
}

section.content > nav.pagination > ul > li > a:hover,
section.content > nav.pagination > ul > li.selector > form > select:hover {
    background-color: rgb(71, 170, 179);
}

/* --------------------------------------------------------------------------
 *  Banner
 * -------------------------------------------------------------------------- */

section.content div.banner {
    color: rgb(0, 0, 0);
}

section.content div.banner.error {
    border-color: rgb(230, 92, 92);
    background-color: rgb(255, 102, 102);
}

section.content div.banner.warning {
    border-color: rgb(230, 203, 115);
    background-color: rgb(255, 226, 128);
}

section.content div.banner.info {
    border-color: rgb(92, 219, 230);
    background-color: rgb(102, 243, 255);
}

/* --------------------------------------------------------------------------
 *  Form
 * -------------------------------------------------------------------------- */

select,
textarea,
input[type="url"],
input[type="file"],
input[type="text"],
input[type="email"],
input[type="number"],
input[type="password"] {
    color: rgb(0, 0, 0);
    border-color: rgb(42, 42, 42);
    background-color: rgb(255, 255, 255);
}

input[type="checkbox"] {
    color: rgb(255, 102, 102);
}

input[type="checkbox"]:checked {
    color: rgb(109, 179, 89);
}

input[type="submit"] {
    color: rgb(255, 255, 255);
    background-color: rgb(71, 179, 152);

    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.22);
    text-shadow: 0 0 1px rgba(26, 26, 26, 0.22);
}

input[type="submit"]:hover {
    background-color: rgb(71, 170, 179);
}

input[type="submit"].destructive-action {
    border-color: rgb(179, 72, 72);
    background-color: rgb(230, 92, 92);
}

input[type="submit"].destructive-action:hover {
    background-color: rgb(255, 102, 102);
}

/* --------------------------------------------------------------------------
 *  Content text
 * -------------------------------------------------------------------------- */

div.text h1 {
    color: rgb(179, 72, 72);
}

div.text h2 {
    color: rgb(71, 170, 179);
}

div.text h3 {
    color: rgb(179, 125, 175);
}

div.text pre {
    color: rgb(0, 0, 0);
    background-color: rgb(242, 242, 242);

    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.4);
}

div.text dl {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 226, 128);
    border-color: rgb(230, 157, 92);
}

div.text table {
    background-color: rgb(242, 242, 242);

    box-shadow: 0 1px 2px rgba(26, 26, 26, 0.4);
}

div.text table td,
div.text table tr td {
    border-color: rgb(204, 204, 204);
}

div.text table th {
    color: rgb(255, 255, 255);
    background-color: rgb(77, 77, 77);
}

div.text table tr:hover td {
    background-color: rgb(226, 226, 226);
}

div.text table.codehilitetable {
    background-color: transparent;
    border-color: rgb(153, 153, 153);
}

div.text table.codehilitetable pre {
    box-shadow: none;
}

div.text table.codehilitetable .linenodiv pre {
    background-color: rgb(226, 226, 226);
    border-color: rgb(204, 204, 204);
}
