{% extends "base.html" %}

{% load utils i18n %}

{% block title %} -
    {% if upload %}
        {% trans 'Edit file' %} - {{ upload.title }}
    {% else %}
        {% trans 'New file' %}
    {% endif %}
{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if upload %}
                    <i class="fa fa-fw fa-edit"></i>
                    {% trans 'Edit file' %}
                    {% else %}
                    <i class="fa fa-fw fa-plus-square"></i>
                    {% trans 'New file' %}
                    {% endif %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            {% if upload %}
                            <a href="{% url 'upload_look' upload.identifier upload.pk %}" title="{% trans 'Back to file' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% else %}
                            <a href="{% url 'upload_home' %}" title="{% trans 'Back to files' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% endif %}
                        </li>
                    {% if upload and perms.upload.delete_file %}
                        {% if user.pk == upload.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_upload_delete' upload.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            {% if messages %}
            <aside class="banners">
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        <div{% if message.tags %} class="banner {{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            {% endif %}

            <aside>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="inline">
                        {{ form.private }}
                        <label for="id_private">{% trans 'Private' %}</label>
                    </div>

                    <div>
                        <label for="id_title">{% trans 'Title' %}&nbsp;:</label>
                        {{ form.title }}
                    </div>

                    <div>
                        <label for="id_description">{% trans 'Description' %}&nbsp;:</label>
                        {{ form.description }}
                    </div>

                    <div>
                        <label for="id_path">{% trans 'File path' %}&nbsp;:</label>
                        {{ form.path }}
                    </div>

                    <footer>
                        {% if upload %}
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                        {% else %}
                        <input class="important" type="submit" value="{% trans 'Create' %}" />
                        {% endif %}
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

