{% extends "base.html" %}

{% load utils i18n %}

{% block title %} -
    {% if page == "files" %}
        {% trans 'Files list' %}
    {% else %}
        {% trans 'My files' %}
    {% endif %}
{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if page == "files" %}
                    <i class="fa fa-fw fa-folder"></i>
                    {% trans 'Files' %}
                    {% else %}
                    <i class="fa fa-fw fa-lock"></i>
                    {% trans 'My files' %}
                    {% endif %}
                </h1>

                {% if perms.upload.add_file %}
                <nav>
                    <ul>
                        <li class="custom-action">
                            {% if page == "files" %}
                            <a href="{% url 'private_home' %}" title="{% trans 'My files' %}">
                                <i class="fa fa-fw fa-lock"></i></a>
                            {% else %}
                            <a href="{% url 'upload_home' %}" title="{% trans 'Files' %}">
                                <i class="fa fa-fw fa-folder"></i></a>
                            {% endif %}
                        </li>
                        <li class="creative-action">
                            <a href="{% url 'action_upload_add' %}" title="{% trans 'New upload' %}">
                                <i class="fa fa-fw fa-plus"></i></a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </header>

            {% if files|length > 0 %}
            <aside class="table">
                {% for file in files %}
                <div class="big">
                    <span class="full-size">
                        <a href="{% url 'upload_look' file.identifier file.pk %}"
                            title="{{ file.description }}">
                            {{ file.title }}
                        </a>
                    </span>

                    <span class="nowrap">
                        {% if "audio/" in file.mimetype %}
                        <i class="fa fa-fw fa-file-audio-o green"></i>
                        <small>{% trans 'Audio' %}</small>
                        {% elif "image/" in file.mimetype %}
                        <i class="fa fa-fw fa-file-image-o blue"></i>
                        <small>{% trans 'Image' %}</small>
                        {% elif "video/" in file.mimetype %}
                        <i class="fa fa-fw fa-file-video-o magenta"></i>
                        <small>{% trans 'Video' %}</small>
                        {% elif "text/" in file.mimetype %}
                        <i class="fa fa-fw fa-file-text-o cyan"></i>
                        <small>{% trans 'Text' %}</small>
                        {% elif file.mimetype == "application/pdf" %}
                        <i class="fa fa-fw fa-file-pdf-o red"></i>
                        <small>{% trans 'PDF' %}</small>
                        {% endif %}
                    </span>

                    <span class="nowrap">
                        <i class="fa fa-fw fa-calendar"></i>
                        <small>
                        {% if file.updated|istoday %}
                            <strong>{{ file.updated|prettydate }}</strong>
                        {% else %}
                            {{ file.updated|prettydate }}
                        {% endif %}
                        </small>
                    </span>

                    <span>
                        <a href="{% url 'profile' file.user.username %}">
                            <img class="avatar big" title="{{ file.user.username }}"
                                src="{{ file.user.informations.avatar.url|avatar }}" />
                        </a>
                    </span>
                </div>
                {% endfor %}
            </aside>
            {% else %}
            <div class="banner warning">
                {% trans 'No file available' %}
            </div>
            {% endif %}
        </article>

        {% if files.paginator.num_pages > 1 %}
        <nav class="pagination">
            <ul>
                <li>
                    {% if files.has_previous %}
                    <a href="{% url 'upload_page' 1 %}">
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if files.has_previous %}
                    <a href="{% url 'upload_page' files.previous_page_number %}">
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </div>
                    {% endif %}
                </li>
                <li class="selector">
                    <form action="{% url 'action_upload_page' %}" method="post">
                        {% csrf_token %}

                        <label for="page">{% trans 'Move to page' %}</label>
                        <select name="page" id="page">
                            {% for index in files.paginator.page_range %}
                            <option {% if index == files.number %}selected="selected"{% endif %}
                                value="{{ index }}">{{ index }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" name="valid" value="Go" id="valid" />
                    </form>
                </li>
                <li>
                    {% if files.has_next %}
                    <a href="{% url 'upload_page' files.next_page_number %}">
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if files.has_next %}
                    <a href="{% url 'upload_page' files.paginator.num_pages %}">
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}
{% endblock %}

