{% load utils i18n %}
                        <li {% if page == 'files' %}class="active"{% endif %}>
                            <a href="{% url 'upload_home' %}">
                                {% trans 'Files' %}
                            </a>
                            {% if perms.upload.add_file %}
                            <a href="{% url 'private_home' %}" title="{% trans 'My files' %}">
                                <i class="fa fa-fw fa-lock custom-action"></i>
                            </a>
                            <a href="{% url 'action_upload_add' %}" title="{% trans 'Add file' %}">
                                <i class="fa fa-fw fa-plus creative-action"></i>
                            </a>
                            {% endif %}
                        </li>
