{% extends "base.html" %}

{% load utils i18n static %}

{% block title %} - {% trans 'File' %} - {{ file.title }}{% endblock %}

{% block main %}
        <article class="upload">
            <header>
                <h1>
                    {% if "audio/" in file.mimetype %}
                    <i class="fa fa-fw fa-file-audio-o"></i>
                    {% elif "image/" in file.mimetype %}
                    <i class="fa fa-fw fa-file-image-o"></i>
                    {% elif "video/" in file.mimetype %}
                    <i class="fa fa-fw fa-file-video-o"></i>
                    {% elif "text/" in file.mimetype %}
                    <i class="fa fa-fw fa-file-text-o"></i>
                    {% elif file.mimetype == "application/pdf" %}
                    <i class="fa fa-fw fa-file-pdf-o"></i>
                    {% endif %}
                    {{ file.title }}
                </h1>

                <nav>
                    <ul>
                        <li>
                        {% if file.private %}
                            <a href="{% url 'private_home' %}" title="{% trans 'Back to private files' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        {% else %}
                            <a href="{% url 'upload_home' %}" title="{% trans 'Back to files' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        {% endif %}
                        </li>
                    {% if perms.upload.change_file %}
                        {% if user.pk == file.user.pk or user.is_staff %}
                        <li>
                            <a href="{% url 'action_upload_edit' file.pk %}" title="{% trans 'Edit' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                        <li class="custom-action">
                            <a href="{% get_media_prefix %}{{ file.path }}" title="{% trans 'Download' %}">
                                <i class="fa fa-fw fa-download"></i></a>
                        </li>
                    {% if perms.upload.delete_file %}
                        {% if user.pk == file.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_upload_delete' file.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <aside class="upload">
                <div class="center">
                {% if "image/" in file.mimetype %}
                    ​<picture>
                        <source srcset="{% get_media_prefix %}{{ file.path }}" type="{{ file.mimetype }}">
                        <img src="{% get_media_prefix %}{{ file.path }}" alt="{{ file.description }}">
                    </picture>
                {% elif "video/" in file.mimetype %}
                    <video controls>
                        <source src="{% get_media_prefix %}{{ file.path }}" type="{{ file.mimetype }}">
                        <p>Your browser doesn't support HTML5 video.</p>
                    </video>
                {% elif "audio/" in file.mimetype %}
                    <audio controls>
                        <source src="{% get_media_prefix %}{{ file.path }}" type="{{ file.mimetype }}">
                        <p>Your browser doesn't support HTML5 audio.</p>
                    </audio>
                {% else %}
                    <span class="button custom-action">
                        <a href="{% get_media_prefix %}{{ file.path }}" title="{% trans 'Download' %}">
                            <i class="fa fa-4x fa-download"></i></a>
                    </span>
                {% endif %}
                </div>
            </aside>

            {% if file.description %}
            <aside class="description center">
                {{ file.description }}
            </aside>
            {% endif %}

            <aside>
                <div>
                    <strong>{% trans 'Direct link' %}</strong>
                    <input type="text" class="full-size" value="{% get_media_prefix %}{{ file.path }}" />
                </div>
                <div>
                    <strong>{% trans 'HTML' %}</strong>
                    {% if "image/" in file.mimetype %}
                    <input type="text" class="full-size"
                        value="​<img src='{% get_media_prefix %}{{ file.path }}' alt='{% if file.description %}{{ file.description }}{% else %}{{ file.title }}{% endif %}'>" />
                    {% else %}
                    <input type="text" class="full-size"
                        value="<a href='{% get_media_prefix %}{{ file.path }}' alt='{% if file.description %}{{ file.description }}{% else %}{{ file.title }}{% endif %}'>{{ file.title }}</a>" />
                    {% endif %}
                </div>
                <div>
                    <strong>{% trans 'HTML 5' %}</strong>
                    {% if "image/" in file.mimetype %}
                    <input type="text" class="full-size"
                        value="​<picture><source srcset='{% get_media_prefix %}{{ file.path }}' type='{{ file.mimetype }}'><img src='{% get_media_prefix %}{{ file.path }}' alt='{% if file.description %}{{ file.description }}{% else %}{{ file.title }}{% endif %}'></picture>" />
                    {% elif "video/" in file.mimetype %}
                    <input type="text" class="full-size"
                        value="<video controls><source src='{% get_media_prefix %}{{ file.path }}' type='{{ file.mimetype }}'><p>Your browser doesn't support HTML5 video.</p></video>" />
                    {% elif "audio/" in file.mimetype %}
                    <input type="text" class="full-size"
                        value="<audio controls><source src='{% get_media_prefix %}{{ file.path }}' type='{{ file.mimetype }}'><p>Your browser doesn't support HTML5 audio.</p></audio>" />
                    {% elif "text/" in file.mimetype %}
                    <input type="text" class="full-size"
                        value="<a href='{% get_media_prefix %}{{ file.path }}' alt='{% if file.description %}{{ file.description }}{% else %}{{ file.title }}{% endif %}'>{{ file.title }}</a>" />
                    {% elif file.mimetype == "application/pdf" %}
                    <input type="text" class="full-size"
                        value="<a href='{% get_media_prefix %}{{ file.path }}' alt='{% if file.description %}{{ file.description }}{% else %}{{ file.title }}{% endif %}'>{{ file.title }}</a>" />
                    {% endif %}
                </div>
                <div>
                    <strong>{% trans 'Markdown' %}</strong>
                    {% if "image/" in file.mimetype %}
                    <input type="text" class="full-size"
                        value='![{% if file.description %}{{ file.description }}{% else %}{{ file.title }}{% endif %}]({% get_media_prefix %}{{ file.path }} "{{ file.title }}")' />
                    {% else %}
                    <input type="text" class="full-size"
                        value='[{{ file.title }}]({% get_media_prefix %}{{ file.path }})' />
                    {% endif %}
                </div>
            </aside>
        </article>
{% endblock %}

