{% extends "base.html" %}

{% load utils i18n %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-home"></i>
                    {% trans 'Home' %}
                </h1>
            </header>

        {% if notifications|length > 0 %}
            <aside class="table">
                {% for element in notifications %}
                <div class="big">
                    <span>
                        {% if element.type == 'comment' %}
                        <i class="fa fa-fw fa-commenting"></i>
                        {% elif element.type == 'static' %}
                        <i class="fa fa-fw fa-file-text"></i>
                        {% elif element.type == 'server' %}
                        <i class="fa fa-fw fa-server"></i>
                        {% elif element.type == 'game' %}
                        <i class="fa fa-fw fa-gamepad"></i>
                        {% elif element.type == 'file' %}
                        <i class="fa fa-fw fa-folder"></i>
                        {% elif element.type == 'calendar' %}
                        <i class="fa fa-fw fa-calendar"></i>
                        {% elif element.stick %}
                        <i class="fa fa-fw fa-thumb-tack"></i>
                        {% elif element.lock %}
                        <i class="fa fa-fw fa-lock"></i>
                        {% else %}
                        <i class="fa fa-fw fa-hashtag"></i>
                        {% endif %}
                    </span>

                    <span class="full-size">
                        {% if element.type == 'topic' %}
                        <a href="{% url 'topic_look' element.identifier element.pk %}">
                            {{ element.title }}
                        </a>
                        {% elif element.type == 'comment' %}
                        {% get_comment_page element.index as page %}
                        <a href="{% url 'topic_page' element.topic.identifier element.topic.pk page %}#{{ element.index }}">
                            {% blocktrans with title=element.topic.title %}Re: {{ title }}{% endblocktrans %}
                        </a>
                        {% elif element.type == 'static' %}
                        <a href="{% url 'static_look' element.identifier element.pk %}">
                            {{ element.title }}
                        </a>
                        {% elif element.type == 'server' %}
                        <a href="{% url 'server_look' element.identifier element.pk %}">
                            {{ element.title }}
                        </a>
                        {% elif element.type == 'game' %}
                        <a href="{% url 'game_look' element.identifier element.pk %}">
                            {{ element.title }}
                        </a>
                        {% elif element.type == 'file' %}
                        <a href="{% url 'upload_look' element.identifier element.pk %}">
                            {{ element.title }}
                        </a>
                        {% elif element.type == 'calendar' %}
                        <a href="{% url 'calendar_look' element.identifier element.pk %}">
                            {{ element.title }}
                        </a>
                        {% endif %}
                    </span>

                    <span class="nowrap right">
                        <small>
                            {% if element.type == 'topic' %}
                            <a href="{% url 'channel_look' element.channel.identifier element.channel.pk %}">
                                {{ element.channel.title }}
                            </a>
                            {% elif element.type == 'comment' %}
                            <a href="{% url 'channel_look' element.topic.channel.identifier element.topic.channel.pk %}">
                                {{ element.topic.channel.title }}
                            </a>
                            {% elif element.type == 'static' %}
                            <a href="{% url 'static_home' %}">
                                {% trans 'Pages' %}{% if element.category|length > 0 %}&nbsp;-&nbsp;{{ element.category }}{% endif %}
                            </a>
                            {% elif element.type == 'server' %}
                            <a href="{% url 'server_home' %}">
                                {% trans 'Servers' %}
                            </a>
                            {% elif element.type == 'game' %}
                            <a href="{% url 'game_home' %}">
                                {% trans 'Games' %}
                            </a>
                            {% elif element.type == 'file' %}
                            <a href="{% url 'upload_home' %}">
                                {% trans 'Files' %}
                            </a>
                            {% elif element.type == 'calendar' %}
                            <a href="{% url 'calendar_home' %}">
                                {% trans 'Calendar' %}
                            </a>
                            {% endif %}
                        </small>
                    </span>

                    <span class="nowrap">
                        <i class="fa fa-fw fa-calendar"></i>
                        <small>
                        {% if element.updated|istoday %}
                            <strong>{{ element.updated|prettydate }}</strong>
                        {% else %}
                            {{ element.updated|prettydate }}
                        {% endif %}
                        </small>
                    </span>

                    <span>
                    {% if element.type == 'game' %}
                        {% if element.updater is not None %}
                        <a href="{% url 'profile' element.updater.username %}">
                            <img class="avatar big" title="{{ element.updater.username }}"
                                src="{{ element.updater.informations.avatar.url|avatar }}" />
                        </a>
                        {% endif %}
                    {% else %}
                        <a href="{% url 'profile' element.user.username %}">
                            <img class="avatar big" title="{{ element.user.username }}"
                                src="{{ element.user.informations.avatar.url|avatar }}" />
                        </a>
                    {% endif %}
                    </span>
                </div>
                {% endfor %}
            </aside>
        </article>

        {% if notifications.paginator.num_pages > 1 %}
        <nav class="pagination">
            <ul>
                <li>
                    {% if notifications.has_previous %}
                    <a href="{% url 'home_page' 1 %}">
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if notifications.has_previous %}
                    <a href="{% url 'home_page' notifications.previous_page_number %}">
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </div>
                    {% endif %}
                </li>
                <li class="selector">
                    <form action="{% url 'action_home_page' %}" method="post">
                        {% csrf_token %}

                        <label for="page">{% trans 'Move to page' %}</label>
                        <select name="page" id="page">
                            {% for index in notifications.paginator.page_range %}
                            <option {% if index == notifications.number %}selected="selected"{% endif %}
                                value="{{ index }}">{{ index }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" name="valid" value="Go" id="valid" />
                    </form>
                </li>
                <li>
                    {% if notifications.has_next %}
                    <a href="{% url 'home_page' notifications.next_page_number %}">
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if notifications.has_next %}
                    <a href="{% url 'home_page' notifications.paginator.num_pages %}">
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}
    {% else %}
        <div class="banner warning">
            {% trans 'No notification available' %}
        </div>
    {% endif %}
{% endblock %}

