{% extends "base.html" %}

{% load utils i18n %}

{% block main %}
        <article class="profile">
            <header>
                <h1>
                    <i class="fa fa-user{% if profil.is_staff %}-secret{% endif %}"></i>
                    {{ profil.username }}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'team' %}" title="{% trans 'Back to team' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                        {% if user.pk == profil.pk %}
                        <li class="custom-action">
                            <a href="{% url 'preferences' %}" title="{% trans 'Edit parameters' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'avatar' %}" title="{% trans 'Edit avatar' %}">
                                <i class="fa fa-fw fa-user"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'informations' %}" title="{% trans 'Edit informations' %}">
                                <i class="fa fa-fw fa-vcard"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'password' %}" title="{% trans 'Edit password' %}">
                                <i class="fa fa-fw fa-key-modern"></i></a>
                        </li>
                        {% endif %}
                        {% if user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'profile' profil.username %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-user-times"></i></a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
            </header>

            <aside class="image">
                <img class="avatar awesome"
                    src="{{ profil.informations.avatar.url | avatar }}" />
            </aside>

            {% if profil.informations.email or profil.informations.jabber or profil.informations.website or profil.informations.mastodon or profil.informations.diaspora %}
            <aside>
                <ul class="grid middle">
                    {% if profil.informations.email %}
                    <li>
                        <a href="mailto:{{ profil.informations.email }}"><i class="fa fa-fw fa-envelope"></i></a>
                    </li>
                    {% endif %}
                    {% if profil.informations.jabber %}
                    <li>
                        <a href="xmpp:{{ profil.informations.jabber }}"><i class="fa fa-fw fa-xmpp"></i></a>
                    </li>
                    {% endif %}
                    {% if profil.informations.website %}
                    <li>
                        <a href="{{ profil.informations.website }}"><i class="fa fa-fw fa-globe"></i></a>
                    </li>
                    {% endif %}
                    {% if profil.informations.mastodon %}
                    <li>
                        <a href="{{ profil.informations.mastodon }}"><i class="fa fa-fw fa-mastodon"></i></a>
                    </li>
                    {% endif %}
                    {% if profil.informations.diaspora %}
                    <li>
                        <a href="{{ profil.informations.diaspora }}"><i class="fa fa-fw fa-diaspora"></i></a>
                    </li>
                    {% endif %}
                </ul>
            </aside>
            {% endif %}

            {% if profil.informations.description %}
            <aside class="description">
                <div>
                    <span>
                        {{ profil.informations.description|markdown_to_html|safe }}
                    </span>
                </div>
            </aside>
            {% endif %}

            <aside class="description">
                <header>
                    <h2>
                        {% trans 'Informations' %}
                    </h2>
                </header>

                <aside>
                    <ul>
                        <li>
                            <i class="fa fa-fw fa-calendar-plus-o"></i>
                            {% blocktrans with date=profil.date_joined %}Register on {{ date }}{% endblocktrans %}
                        </li>
                        {% if profil.last_login %}
                        <li>
                            <i class="fa fa-fw fa-calendar-check-o"></i>
                            {% blocktrans with date=profil.last_login %}Last connection on {{ date }}{% endblocktrans %}
                        </li>
                        {% endif %}
                    </ul>
                </aside>
            </aside>

            {% if topics > 0 or comments > 0 or pages > 0 or servers > 0 or games > 0 or files > 0 %}
            <aside class="description">
                <header>
                    <h2>{% trans 'Statistics' %}</h2>
                </header>

                <ul>
                    {% if topics > 0 %}
                    <li>
                        <i class="fa fa-fw fa-hashtag"></i>
                        {% blocktrans count counter=topics %}{{ counter }} topic{% plural %}{{ counter }} topics{% endblocktrans %}
                    </li>
                    {% endif %}
                    {% if comments > 0 %}
                    <li>
                        <i class="fa fa-fw fa-commenting"></i>
                        {% blocktrans count counter=comments %}{{ counter }} comment{% plural %}{{ counter }} comments{% endblocktrans %}
                    </li>
                    {% endif %}
                    {% if 'static'|is_activated and pages > 0 %}
                    <li>
                        <i class="fa fa-fw fa-file-text"></i>
                        {% blocktrans count counter=pages %}{{ counter }} page{% plural %}{{ counter }} pages{% endblocktrans %}
                    </li>
                    {% endif %}
                    {% if 'server'|is_activated and servers > 0 %}
                    <li>
                        <i class="fa fa-fw fa-server"></i>
                        {% blocktrans count counter=servers %}{{ counter }} server{% plural %}{{ counter }} servers{% endblocktrans %}
                    </li>
                    {% endif %}
                    {% if 'game'|is_activated and games > 0 %}
                    <li>
                        <i class="fa fa-fw fa-gamepad"></i>
                        {% blocktrans count counter=games %}{{ counter }} game{% plural %}{{ counter }} games{% endblocktrans %}
                    </li>
                    {% endif %}
                    {% if 'upload'|is_activated and files > 0 %}
                    <li>
                        <i class="fa fa-fw fa-upload"></i>
                        {% blocktrans count counter=files %}{{ counter }} file{% plural %}{{ counter }} files{% endblocktrans %}
                    </li>
                    {% endif %}
                </ul>
            </aside>
            {% endif %}
        </article>
{% endblock %}

