{% extends "base.html" %}

{% load utils i18n %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-users"></i>
                    {% trans 'Team' %}
                </h1>
            </header>

            <aside class="grid">
            {% for member in team %}
                {% if member.is_active %}
                <a href="{% url 'profile' member.username %}">
                    <img class="avatar extra"
                        src="{{ member.informations.avatar.url|avatar }}" />
                    {% if member.is_staff %}<i class="fa fa-fw fa-user-secret"></i>{% endif %}{{ member.username }}
                </a>
                {% endif %}
            {% endfor %}
            </aside>
        </article>
{% endblock %}

