{% load utils i18n %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-user"></i>
                    {% trans 'Edit avatar' %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'profile' user.username %}" title="{% trans 'Back to profile' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'preferences' %}" title="{% trans 'Edit parameters' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        <li class="no-action">
                            <i class="fa fa-user"></i>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'informations' %}" title="{% trans 'Edit informations' %}">
                                <i class="fa fa-fw fa-vcard"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'password' %}" title="{% trans 'Edit password' %}">
                                <i class="fa fa-fw fa-key-modern"></i></a>
                        </li>
                    </ul>
                </nav>
            </header>

            {% if messages %}
            <aside class="banners">
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        <div{% if message.tags %} class="banner {{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            {% endif %}

            <aside>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div>
                        <label>
                            <i class="fa fa-fw fa-user space"></i>{% trans 'Current avatar' %}
                        </label>
                        <div class="center">
                            <img class="avatar extra" src="{{ user.informations.avatar.url | avatar }}" />
                        </div>
                    </div>

                    <div>
                        <label for="id_new_avatar">
                            <i class="fa fa-fw fa-user-plus space"></i>{% trans 'New avatar' %}
                        </label>
                        <input type="file" name="new_avatar" required id="id_new_avatar" />
                    </div>

                    <footer>
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                    </footer>
                </form>
            </aside>
        </article>
