{% load utils i18n %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-vcard"></i>
                    {% trans 'Edit informations' %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'profile' user.username %}" title="{% trans 'Back to profile' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'preferences' %}" title="{% trans 'Edit parameters' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'avatar' %}" title="{% trans 'Edit avatar' %}">
                                <i class="fa fa-fw fa-user"></i></a>
                        </li>
                        <li class="no-action">
                            <i class="fa fa-vcard"></i>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'password' %}" title="{% trans 'Edit password' %}">
                                <i class="fa fa-fw fa-key-modern"></i></a>
                        </li>
                    </ul>
                </nav>
            </header>

            {% if messages %}
            <aside class="banners">
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        <div{% if message.tags %} class="banner {{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            {% endif %}

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div>
                        <label for="id_jabber">
                            <i class="fa fa-fw fa-xmpp space"></i>{% trans 'XMPP address' %}
                        </label>
                        <input type="email" name="jabber_informations" maxlength="254" id="id_jabber"
                            value="{{ user.informations.jabber }}" />
                    </div>

                    <div>
                        <label for="id_email">
                            <i class="fa fa-fw fa-envelope space"></i>{% trans 'Mail address' %}
                        </label>
                        <input type="email" name="email_informations" maxlength="254" id="id_email"
                            value="{{ user.informations.email }}" />
                    </div>

                    <div class="new-line">
                        <label for="id_website">
                            <i class="fa fa-fw fa-globe space"></i>{% trans 'Personnal website' %}
                        </label>
                        <input type="url" name="website_informations" maxlength="200" id="id_website"
                            value="{{ user.informations.website }}" />
                    </div>

                    <div>
                        <label for="id_diaspora">
                            <i class="fa fa-fw fa-diaspora space"></i>{% trans 'Diaspora account' %}
                        </label>
                        <input type="url" name="diaspora_informations" maxlength="200" id="id_diaspora"
                            value="{{ user.informations.diaspora }}" />
                    </div>

                    <div>
                        <label for="id_mastodon">
                            <i class="fa fa-fw fa-mastodon space"></i>{% trans 'Mastodon account' %}
                        </label>
                        <input type="url" name="mastodon_informations" maxlength="200" id="id_mastodon"
                            value="{{ user.informations.mastodon }}" />
                    </div>

                    <div class="new-line">
                        <label for="id_description">
                            <i class="fa fa-fw fa-book space"></i>{% trans 'Biography' %}
                        </label>
                        <textarea name="description_informations" cols="40" rows="10" maxlength="500" id="id_description">{{ user.informations.description }}</textarea>
                    </div>

                    <footer>
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                    </footer>
                </form>
            </aside>
        </article>
