{% load utils i18n %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-cog"></i>
                    {% trans 'Edit parameters' %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'profile' user.username %}" title="{% trans 'Back to profile' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                        <li class="no-action">
                            <i class="fa fa-cog"></i>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'avatar' %}" title="{% trans 'Edit avatar' %}">
                                <i class="fa fa-fw fa-user"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'informations' %}" title="{% trans 'Edit informations' %}">
                                <i class="fa fa-fw fa-vcard"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'password' %}" title="{% trans 'Edit password' %}">
                                <i class="fa fa-fw fa-key-modern"></i></a>
                        </li>
                    </ul>
                </nav>
            </header>

            {% if messages %}
            <aside class="banners">
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        <div{% if message.tags %} class="banner {{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            {% endif %}


            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div>
                        <label for="id_theme">
                            <i class="fa fa-fw fa-paint-brush space"></i>{% trans 'Theme' %}
                        </label>
                        <select name="theme_parameters" id="id_theme">
                        {% for value, key in data %}
                            <option value="{{ value }}" {% if user.informations.theme|design == key %}selected{% endif %}>{{ key }}</option>
                        {% endfor %}
                        </select>
                    </div>

                    <footer>
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                    </footer>
                </form>
            </aside>
        </article>
