{% load utils i18n %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-key-modern"></i>
                    {% trans 'Edit password' %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'profile' user.username %}" title="{% trans 'Back to profile' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'preferences' %}" title="{% trans 'Edit parameters' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'avatar' %}" title="{% trans 'Edit avatar' %}">
                                <i class="fa fa-fw fa-user"></i></a>
                        </li>
                        <li class="custom-action">
                            <a href="{% url 'option' 'informations' %}" title="{% trans 'Edit informations' %}">
                                <i class="fa fa-fw fa-vcard"></i></a>
                        </li>
                        <li class="no-action">
                            <i class="fa fa-key-modern"></i>
                        </li>
                    </ul>
                </nav>
            </header>

            {% if messages %}
            <aside class="banners">
                <ul class="messages">
                    {% for message in messages %}
                    <li>
                        <div{% if message.tags %} class="banner {{ message.tags }}"{% endif %}>
                            {{ message }}
                        </div>
                    </li>
                    {% endfor %}
                </ul>
            </aside>
            {% endif %}

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div>
                        <label for="id_current_password">
                            <i class="fa fa-fw fa-lock space"></i>{% trans 'Current password' %}
                        </label>
                        <input type="password" name="current_password" maxlength="200" id="id_current_password" />
                    </div>

                    <div class="new-line">
                        <label for="id_new_password">
                            <i class="fa fa-fw fa-unlock space"></i>{% trans 'New password' %}
                        </label>
                        <input type="password" name="new_password" maxlength="200" id="id_new_password" />
                    </div>

                    <div>
                        <label for="id_check_password">
                            <i class="fa fa-fw fa-check space"></i>{% trans 'Check new password' %}
                        </label>
                        <input type="password" name="check_password" maxlength="200" id="id_check_password" />
                    </div>

                    <footer>
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                    </footer>
                </form>
            </aside>
        </article>
