{% extends "base.html" %}

{% load utils i18n %}

{% block title %} -
    {% if server %}
        {% trans 'Edit server' %} - {{ server.title }}
    {% else %}
        {% trans 'New server' %}
    {% endif %}
{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if server %}
                    <i class="fa fa-fw fa-edit"></i>
                    {% trans 'Edit server' %}
                    {% else %}
                    <i class="fa fa-fw fa-plus-square"></i>
                    {% trans 'New server' %}
                    {% endif %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            {% if server %}
                            <a href="{% url 'server_look' server.identifier server.pk %}" title="{% trans 'Back to server' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% else %}
                            <a href="{% url 'server_home' %}" title="{% trans 'Back to servers' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% endif %}
                        </li>
                    {% if server and perms.server.delete_server %}
                        {% if user.pk == server.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_server_delete' server.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div class="inline">
                        {{ form.active }}
                        <label for="id_active">{% trans 'Active' %}</label>
                    </div>

                    <div>
                        <label for="id_user">{% trans 'Maintainer' %}&nbsp;:</label>
                        {{ form.user }}
                    </div>

                    <div>
                        <label for="id_title">{% trans 'Title' %}&nbsp;:</label>
                        {{ form.title }}
                    </div>

                    <div>
                        <label for="id_summary">{% trans 'Summary' %}&nbsp;:</label>
                        {{ form.summary }}
                    </div>

                    <div>
                        <label for="id_description">{% trans 'Description' %}&nbsp;:</label>
                        {{ form.description }}
                    </div>

                    <div>
                        <label for="id_ip_address">{% trans 'Address' %}&nbsp;:</label>
                        {{ form.ip_address }}
                    </div>

                    <div>
                        <label for="id_port_address">{% trans 'Port' %}&nbsp;:</label>
                        {{ form.port_address }}
                    </div>

                    <div class="inline">
                        {{ form.private }}
                        <label for="id_private">{% trans 'Private' %}</label>
                    </div>

                    <div class="inline">
                        {{ form.password }}
                        <label for="id_password">{% trans 'Need password' %}</label>
                    </div>

                    <div class="inline">
                        {{ form.steam }}
                        <label for="id_steam">{% trans 'Available on Steam' %}</label>
                    </div>

                    <div class="inline">
                        {{ form.sporadic }}
                        <label for="id_sporadic">{% trans 'Sporadic' %}</label>
                    </div>

                    <footer>
                        {% if server %}
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                        {% else %}
                        <input class="important" type="submit" value="{% trans 'Create' %}" />
                        {% endif %}
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

