{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'Servers list' %}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-server"></i>
                    {% trans 'Servers' %}
                </h1>

                {% if perms.server.add_server %}
                <nav>
                    <ul>
                        <li class="creative-action">
                            <a href="{% url 'action_server_add' %}" title="{% trans 'New server' %}">
                                <i class="fa fa-fw fa-plus"></i></a>
                        </li>
                    </ul>
                </nav>
                {% endif %}
            </header>

            {% if servers|length > 0 %}
            <aside class="table">
                {% for server in servers %}
                <div class="big">
                    <span>
                        {% if not server.active %}
                        <i class="fa fa-fw fa-close"></i>
                        {% elif server.sporadic %}
                        <i class="fa fa-fw fa-hourglass-half {% if server.private %}red{% else %}green{% endif %}"></i>
                        {% elif server.private %}
                        <i class="fa fa-fw fa-lock red"></i>
                        {% else %}
                        <i class="fa fa-fw fa-unlock-alt green"></i>
                        {% endif %}
                    </span>

                    <span class="full-size">
                        <a href="{% url 'server_look' server.identifier server.pk %}"
                            title="{{ server.summary }}">
                            {{ server.title }}
                        </a>
                    </span>

                    <span class="nowrap">
                        {% if server.ip_address %}
                        <i class="fa fa-fw fa-globe"></i>
                        <small>{{ server.ip_address }}{% if server.port_address %}&nbsp;:&nbsp;{{ server.port_address }}{% endif %}</small>
                        {% endif %}
                    </span>

                    <span>
                        {% if server.steam %}
                        <i class="fa fa-fw fa-steam-square" title="{% trans 'Available on Steam' %}"></i>
                        {% endif %}
                    </span>

                    <span>
                        <a href="{% url 'profile' server.user.username %}">
                            <img class="avatar big" title="{{ server.user.username }}"
                                src="{{ server.user.informations.avatar.url|avatar }}" />
                        </a>
                    </span>
                </div>
                {% endfor %}
            </aside>
            {% else %}
            <div class="banner warning">
                {% trans 'No server available' %}
            </div>
            {% endif %}
        </article>

        {% if servers.paginator.num_pages > 1 %}
        <nav class="pagination">
            <ul>
                <li>
                    {% if servers.has_previous %}
                    <a href="{% url 'server_page' 1 %}">
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if servers.has_previous %}
                    <a href="{% url 'server_page' servers.previous_page_number %}">
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </div>
                    {% endif %}
                </li>
                <li class="selector">
                    <form action="{% url 'action_server_page' %}" method="post">
                        {% csrf_token %}

                        <label for="page">{% trans 'Move to page' %}</label>
                        <select name="page" id="page">
                            {% for index in servers.paginator.page_range %}
                            <option {% if index == servers.number %}selected="selected"{% endif %}
                                value="{{ index }}">{{ index }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" name="valid" value="Go" id="valid" />
                    </form>
                </li>
                <li>
                    {% if servers.has_next %}
                    <a href="{% url 'server_page' servers.next_page_number %}">
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if servers.has_next %}
                    <a href="{% url 'server_page' servers.paginator.num_pages %}">
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}
{% endblock %}

