{% load utils i18n %}
                        <li {% if page == 'servers' %}class="active"{% endif %}>
                            <a href="{% url 'server_home' %}">
                                {% trans 'Servers' %}
                            </a>
                            {% if perms.server.add_server %}
                            <a href="{% url 'action_server_add' %}" title="{% trans 'Add server' %}">
                                <i class="fa fa-fw fa-plus creative-action"></i>
                            </a>
                            {% endif %}
                        </li>
