{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'Server' %} - {{ server.title }}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-gamepad"></i>
                    {{ server.title }}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'server_home' %}" title="{% trans 'Back to servers' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                    {% if perms.server.change_server %}
                        {% if user.pk == server.user.pk or user.is_staff %}
                        <li>
                            <a href="{% url 'action_server_edit' server.pk %}" title="{% trans 'Edit' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if perms.server.delete_server %}
                        {% if user.pk == server.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_server_delete' server.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            {% if server.summary %}
            <aside class="summary">
                <div class="center">
                    <strong>{{ server.summary }}</strong>
                </div>
            </aside>
            {% endif %}

            <aside class="description">
                <header>
                    <h2>
                        <i class="fa fa-fw fa-upload"></i>
                        {% trans 'Status' %}
                    </h2>
                </header>

                <aside>
                    <ul>
                        <li>
                        {% if server.active %}
                            <i class="fa fa-fw fa-check green"></i>
                            {% trans 'Active' %}
                        {% else %}
                            <i class="fa fa-fw fa-close red"></i>
                            {% trans 'Unactive' %}
                        {% endif %}
                        </li>
                        <li>
                        {% if server.private %}
                            <i class="fa fa-fw fa-lock red"></i>
                            {% trans 'Private' %}
                        {% else %}
                            <i class="fa fa-fw fa-unlock-alt green"></i>
                            {% trans 'Public' %}
                        {% endif %}
                        </li>
                    </ul>
                </aside>

                {% if server.sporadic or server.steam %}
                <aside>
                    <header>
                        <h3>
                            {% trans 'Visibility' %}
                        </h3>
                    </header>

                    <ul>
                        {% if server.sporadic %}
                        <li>
                            <i class="fa fa-fw fa-hourglass-half"></i>
                            {% trans 'Sporadic' %}
                        </li>
                        {% endif %}
                        {% if server.steam %}
                        <li>
                            <i class="fa fa-fw fa-steam-square"></i>
                            {% trans 'Available on Steam' %}
                        </li>
                        {% endif %}
                    </ul>
                </aside>
                {% endif %}
            </aside>

            <aside class="description">
                <header>
                    <h2>
                        <i class="fa fa-fw fa-plug"></i>
                        {% trans 'Connection' %}
                    </h2>
                </header>

                {% if server.ip_address %}
                <aside>
                    <header>
                        <h3>
                            {% trans 'Address' %}
                        </h3>
                    </header>

                    <ul>
                        <li>
                            <i class="fa fa-fw fa-globe"></i>
                            {{ server.ip_address }}
                            {% if server.port_address %}:&nbsp;{{ server.port_address }}{% endif %}
                        </li>
                    </ul>
                </aside>
                {% endif %}

                <aside>
                    <header>
                        <h3>
                            {% trans 'Protection' %}
                        </h3>
                    </header>

                    <ul>
                        <li>
                        {% if server.password %}
                            <i class="fa fa-fw fa-key-modern green"></i>
                            {% trans 'Protected by password' %}
                        {% else %}
                            <i class="fa fa-fw fa-unlock red"></i>
                            {% trans 'No password' %}
                        {% endif %}
                        </li>
                    </ul>
                </aside>
            </aside>

            {% if server.description %}
            <aside class="description">
                <header>
                    <h2>
                        <i class="fa fa-fw fa-file-text"></i>
                        {% trans 'Description' %}
                    </h2>
                </header>

                <aside>
                    <div class="text">
                        {{ server.description|markdown_to_html|safe }}
                    </div>
                </aside>
            </aside>
            {% endif %}
        </article>
{% endblock %}

