<!DOCTYPE html>
{% load static utils channel i18n %}
<html lang="fr">
    <head>
        <title>{% setting 'title' %}{% block title %}{% endblock %}</title>

        <!-- Normalize encoding -->
        <meta name="encoding" content="utf-8" charset="utf-8" />

        <!-- Website data -->
        <meta name="description" content="{% setting 'description' %}" />
        <meta name="keywords" content="{% setting 'keywords' %}" />
        <meta name="author" content="{% setting 'authors' %}" />

        <!-- Website behavior -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />

        <!-- Website favicon -->
        <link rel="icon" sizes="256x256" href="{% static 'images/favicon.png' %}">
        <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" />

        <!-- Website script -->
        <script type="text/javascript" src="{% static 'js/common.js' %}"></script>

        <!-- Website appearance -->
        <link rel="stylesheet" type="text/css" href="{% static 'css/fork-awesome.css' %}" />
        {% if user.is_authenticated %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/codehilite.css' %}" />
        {% endif %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
        <link rel="stylesheet" type="text/css" href="{% static 'css/themes/' %}{{ user.informations.theme|design }}.css" />
    </head>

    <body>
        {% if user.is_authenticated %}
        <nav>
            <ul>
                <li{% if page == 'home' %} class="active"{% endif %}>
                    <a href="{% url 'root' %}" class="full-size" title="{% trans 'Home' %}">
                        <i class="fa fa-fw fa-home"></i></a>
                </li>
                <li{% if page == 'team' %} class="active"{% endif %}>
                    <a href="{% url 'team' %}" class="full-size" title="{% trans 'Team' %}">
                        <i class="fa fa-fw fa-users"></i></a>
                </li>
            </ul>

            <ul>
                <li{% if page == 'preferences' %} class="active"{% endif %}>
                    <a href="{% url 'preferences' %}" title="{% trans 'Preferences' %}">
                        <i class="fa fa-fw fa-wrench"></i></a>
                </li>
                {% if user.is_superuser %}
                <li>
                    <a href="{% url 'admin:index' %}" title="{% trans 'Administration' %}">
                        <i class="fa fa-fw fa-cogs"></i></a>
                </li>
                {% endif %}
                <li>
                    <a href="{% url 'sign_out' %}" title="{% trans 'Sign out' %}">
                        <i class="fa fa-fw fa-sign-out"></i></a>
                </li>
            </ul>
        </nav>
        {% endif %}

        <main>
            {% if user.is_authenticated %}
            <section class="sidebar">
                {% get_activated_modules as result %}{% if result %}
                <aside>
                    <header>
                        <h2>
                            <span onclick="switch_status('tools')">
                                <i class="fa fa-fw fa-wrench space"></i>{% trans 'Tools' %}
                            </span>
                            {% if user.is_staff %}
                            <span>
                                <a href="" title="{% trans 'Administration' %}">
                                    <i class="fa fa-fw fa-sliders"></i>
                                </a>
                            </span>
                            {% endif %}
                        </h2>
                    </header>

                    <ul id="tools">
                    {% for module in result|dictsort:0 %}
                        {% if module|is_activated %}
                            {% include module|get_module_sidebar_path %}
                        {% endif %}
                    {% endfor %}
                    </ul>
                </aside>
                {% endif %}

                <aside>
                    <header>
                        <h2>
                            <span onclick="switch_status('channels')">
                                <i class="fa fa-fw fa-hashtag space"></i>{% trans 'Channels' %}
                            </span>
                            {% if perms.channel.add_channel %}
                            <span>
                                <a href="{% url 'action_channel_add' %}" title="{% trans 'New channel' %}">
                                    <i class="fa fa-fw fa-plus"></i>
                                </a>
                            </span>
                            {% endif %}
                            {% if user.is_staff %}
                            <span>
                                <a href="" title="{% trans 'Administration' %}">
                                    <i class="fa fa-fw fa-sliders"></i>
                                </a>
                            </span>
                            {% endif %}
                        </h2>
                    </header>

                {% get_channels as channels %}{% if channels|length > 0 %}
                {% for category, elements in channels.items|dictsort:0 %}
                    <aside>
                        {% if channels|length > 1 %}
                        <header>
                            <h3>{{ category }}</h3>
                        </header>
                        {% endif %}
                        {% if elements|length > 0 %}
                        <ul id="channels">
                            {% for channel in elements %}
                            <li {% if page == channel.pk %}class="active"{% endif %}>
                                <a href="{% url 'channel_look' channel.identifier channel.pk %}"
                                    title="{{ channel.description }}">{{ channel.title }}
                                </a>
                                {% if perms.channel.change_channel %}
                                <a href="{% url 'action_channel_edit' channel.pk %}"
                                    title="{% blocktrans with title=channel.title %}Edit channel '{{ title }}'{% endblocktrans %}">
                                    <i class="fa fa-fw fa-cog normal-action"></i>
                                </a>
                                {% endif %}
                                {% if perms.channel.add_channel %}
                                <a href="{% url 'action_topic_add' channel.pk %}"
                                    title="{% blocktrans with title=channel.title %}Add a topic to '{{ title }}'{% endblocktrans %}">
                                    <i class="fa fa-fw fa-plus creative-action"></i>
                                </a>
                                {% endif %}
                            </li>
                            {% endfor %}
                        </ul>
                        {% else %}
                        <div class="center">
                            <small>{% trans 'No channel available' %}</small>
                        </div>
                        {% endif %}
                    </aside>
                {% endfor %}
                </aside>
            {% else %}
                <div class="center">
                    <small>{% trans 'No channel available' %}</small>
                </div>
            {% endif %}
            </section>
            {% endif %}

            <section class="content">
                {% block main %}{% endblock %}
            </section>
        </main>
    </body>
</html>
