{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'Remove topic' %} - {{ topic.title }}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-trash"></i>
                    {% trans 'Remove topic' %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'topic_look' topic.identifier topic.pk %}" title="{% trans 'Back to topic' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                    </ul>
                </nav>
            </header>

            <aside>
                <div class="banner warning">
                    {% blocktrans with title=topic.title %}Are you sure to remove '{{ title }}' topic and all his data (comments) ?{% endblocktrans %}
                </div>

                <form method="post" class="delete">
                    {% csrf_token %}

                    <div class="inline">
                        <input type="radio" id="radio_no" name="choice" value="no" checked="checked" />&nbsp;
                        <label class="left" for="radio_no">{% trans 'No' %}</label>
                    </div>

                    <div class="inline">
                        <input type="radio" id="radio_yes" name="choice" value="yes" />&nbsp;
                        <label class="left" for="radio_yes">{% trans 'Yes' %}</label>
                    </div>

                    <footer>
                        <input class="destructive-action" type="submit" value="{% trans 'Remove' %}" />
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

