{% extends "base.html" %}

{% load utils i18n %}

{% block title %} -
    {% if topic %}
        {% trans 'Edit topic' %} - {{ topic.title }}
    {% else %}
        {% trans 'New topic' %}
    {% endif %}
{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if topic %}
                    <i class="fa fa-fw fa-edit"></i>
                    {% trans 'Edit topic' %}
                    {% else %}
                    <i class="fa fa-fw fa-plus-square"></i>
                    {% trans 'New topic' %}
                    {% endif %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            {% if topic %}
                            <a href="{% url 'topic_look' topic.identifier topic.pk %}" title="{% trans 'Back to topic' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% elif channel %}
                            <a href="{% url 'channel_look' channel.identifier channel.pk %}" title="{% trans 'Back to channel' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% endif %}
                        </li>
                    {% if topic and perms.channel.delete_topic %}
                        {% if user.pk == topic.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_topic_delete' topic.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div>
                        <label for="id_title">{% trans 'Title' %}&nbsp;:</label>
                        {{ form.title }}
                    </div>

                    <div>
                        <label for="id_content">{% trans 'Content' %}&nbsp;:</label>
                        {{ form.content }}
                    </div>

                    <div class="inline">
                        {{ form.lock }}
                        <label for="id_lock">{% trans 'Lock' %}</label>
                    </div>

                    <div class="inline">
                        {{ form.stick }}
                        <label for="id_stick">{% trans 'Stick' %}</label>
                    </div>

                    <footer>
                        {% if topic %}
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                        {% else %}
                        <input class="important" type="submit" value="{% trans 'Create' %}" />
                        {% endif %}
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

