{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {{ topic.title }}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if topic.stick %}
                    <i class="fa fa-fw fa-thumb-tack"></i>
                    {% elif topic.lock %}
                    <i class="fa fa-fw fa-lock"></i>
                    {% elif topic.comments|length > 0 %}
                    <i class="fa fa-fw fa-file-text"></i>
                    {% else %}
                    <i class="fa fa-fw fa-file-o"></i>
                    {% endif %}
                    {{ topic.title }}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'channel_look' topic.channel.identifier topic.channel.pk %}" title="{% trans 'Back to channel' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                    {% if perms.channel.change_topic %}
                        {% if user.pk == topic.user.pk or user.is_staff %}
                        <li>
                            <a href="{% url 'action_topic_edit' topic.pk %}" title="{% trans 'Edit' %}">
                                <i class="fa fa-fw fa-cog"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    {% if perms.channel.delete_topic %}
                        {% if user.pk == topic.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_topic_delete' topic.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <div class="text">
                {{ topic.content|markdown_to_html|safe }}
            </div>

            <footer>
                <small>
                    {% if topic.user.is_active %}
                    <a href="{% url 'profile' topic.user.username %}">
                        <img src="{{ topic.user.informations.avatar.url|avatar }}"
                            class="avatar small space" />{{ topic.user.username }}
                    </a>
                    {% else %}
                    <img src="{{ topic.user.informations.avatar.url|avatar }}"
                        class="avatar small space" /><strike>{{ topic.user.username }}</strike>
                    {% endif %}
                </small>

                <small>
                    {% if topic.updated|date > topic.created|date %}
                    <i class="fa fa-fw fa-pencil" title="{{ topic.updater.username }}"></i>
                    {{ topic.updated|prettydate }}
                    {% else %}
                    {{ topic.created|prettydate }}
                    {% endif %}
                </small>
            </footer>
        </article>

        {% if topic.comments|length > 0 %}
        <hr />
        {% endif %}

        {% for comment in topic.comments %}
        <aside class="comment{% if comment.user == user and not comment.hide %} owner{% endif %}" id="{{ comment.index }}">
            <header>
                <div>
                {% if not comment.hide %}
                    {% if comment.user.is_active %}
                    <a href="{% url 'profile' comment.user.username %}">{{ comment.user.username }}</a>
                    {% else %}
                    {{ comment.user.username }}
                    {% endif %}
                {% else %}
                    <em>{% trans 'This comment has been hide by moderator' %}</em>
                {% endif %}
                </div>

                <div>
                {% if comment.updated|date > comment.created|date %}
                    <i class="fa fa-fw fa-pencil" title="{{ comment.updater.username }}"></i>
                {% endif %}
                    {% get_comment_page comment.index as page %}
                    <a href="{% url 'topic_page' topic.channel.identifier topic.identifier page %}#{{ comment.index }}">
                    {% if comment.created|istoday %}
                        <strong>{{ comment.created|prettydate }}</strong>
                    {% else %}
                        {{ comment.created|prettydate }}
                    {% endif %}
                    </a>
                </div>

                {% if user.is_staff or user.pk == comment.user.pk %}
                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'action_comment_edit' comment.pk %}">
                                <i class="fa fa-fw fa-cog"></i>
                            </a>
                        </li>
                        {% if user.is_staff %}
                        <li>
                            <a href="{% url 'action_comment_switch' comment.pk %}">
                                <i class="fa fa-fw fa-eye{% if not comment.hide %}-slash{% endif %}"></i>
                            </a>
                        </li>
                        <li class="destructive-action">
                            <a href="{% url 'action_comment_delete' comment.pk %}">
                                <i class="fa fa-fw fa-remove"></i>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </nav>
                {% endif %}
            </header>

            {% if not comment.hide %}
            <div>
                {% if comment.user.is_active %}
                <a href="{% url 'profile' comment.user.username %}">
                    <img src="{{ comment.user.informations.avatar.url|avatar }}"
                        class="avatar large space" />
                </a>
                {% else %}
                <img src="{{ comment.user.informations.avatar.url|avatar }}"
                    class="avatar large space" />
                {% endif %}

                <div class="text">
                    {{ comment.content|markdown_to_html|safe }}
                </div>
            </div>
            {% endif %}
        </aside>
        {% endfor %}

        {% if topic.comments.paginator.num_pages > 1 %}
        <nav class="pagination">
            <ul>
                <li>
                    {% if topic.comments.has_previous %}
                    <a href="{% url 'topic_page' channel.identifier topic.identifier 1 %}">
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-chevron-left space"></i>{% trans 'First' %}
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if topic.comments.has_previous %}
                    <a href="{% url 'topic_page' channel.identifier topic.identifier topic.comments.previous_page_number %}">
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </a>
                    {% else %}
                    <div>
                        <i class="fa fa-caret-left space"></i>{% trans 'Previous' %}
                    </div>
                    {% endif %}
                </li>
                <li class="selector">
                    <form action="{% url 'action_topic_page' channel.pk topic.pk %}" method="post">
                        {% csrf_token %}

                        <label for="page">{% trans 'Move to page' %}</label>
                        <select name="page" id="page">
                            {% for index in topic.comments.paginator.page_range %}
                            <option {% if index == topic.comments.number %}selected="selected"{% endif %}
                                value="{{ index }}">{{ index }}</option>
                            {% endfor %}
                        </select>

                        <input type="submit" name="valid" value="Go" id="valid" />
                    </form>
                </li>
                <li>
                    {% if topic.comments.has_next %}
                    <a href="{% url 'topic_page' channel.identifier topic.identifier topic.comments.next_page_number %}">
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Next' %}<i class="fa fa-caret-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
                <li>
                    {% if topic.comments.has_next %}
                    <a href="{% url 'topic_page' channel.identifier topic.identifier topic.comments.paginator.num_pages %}">
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </a>
                    {% else %}
                    <div>
                        {% trans 'Last' %}<i class="fa fa-chevron-right anti-space"></i>
                    </div>
                    {% endif %}
                </li>
            </ul>
        </nav>
        {% endif %}

    {% if not topic.lock and perms.channel.add_comment %}
        <form class="comment" action="{% url 'action_comment_add' topic.pk %}" method="post">
            {% csrf_token %}

            <div>
            {% for field in form %}
                {{ field }}
            {% endfor %}
            </div>

            <footer>
                <input class="important" type="submit" value="{% trans 'Send' %}" />
            </footer>
        </form>
    {% endif %}
{% endblock %}

