{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'Login' %}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1 class="center">
                    <i class="fa fa-fw fa-lock"></i>
                    {% trans 'Sign in' %}
                </h1>
            </header>

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div>
                        <label for="id_username">{% trans 'Account' %}&nbsp;:</label>
                        {{ form.username }}
                    </div>

                    <div>
                        <label for="id_password">{% trans 'Password' %}&nbsp;:</label>
                        {{ form.password }}
                    </div>

                    <footer>
                        <input class="important" type="submit" value="{% trans 'Sign in' %}" />
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}
