{% extends "base.html" %}

{% load utils i18n %}

{% block title %} -
    {% if event %}
        {% trans 'Edit event' %} - {{ event.title }}
    {% else %}
        {% trans 'New event' %}
    {% endif %}
{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    {% if event %}
                    <i class="fa fa-fw fa-edit"></i>
                    {% trans 'Edit event' %}
                    {% else %}
                    <i class="fa fa-fw fa-plus-square"></i>
                    {% trans 'New event' %}
                    {% endif %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            {% if event %}
                            <a href="{% url 'calendar_look' event.identifier event.pk %}" title="{% trans 'Back to event' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% else %}
                            <a href="{% url 'calendar_home' %}" title="{% trans 'Back to events' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                            {% endif %}
                        </li>
                    {% if event and perms.calendar.delete_event %}
                        {% if user.pk == event.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_event_delete' event.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div class="inline">
                        {{ form.closed }}
                        <label for="id_active">{% trans 'Closed' %}</label>
                    </div>

                    <div>
                        <label for="id_title">{% trans 'Title' %}&nbsp;:</label>
                        {{ form.title }}
                    </div>

                    <div>
                        <label for="id_description">{% trans 'Description' %}&nbsp;:</label>
                        {{ form.description }}
                    </div>

                    <footer>
                        {% if event %}
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                        {% else %}
                        <input class="important" type="submit" value="{% trans 'Create' %}" />
                        {% endif %}
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

