{% extends "base.html" %}

{% load utils i18n %}

{% block title %} - {% trans 'Edit comment' %} - {{ comment.topic.title }}{% endblock %}

{% block main %}
        <article>
            <header>
                <h1>
                    <i class="fa fa-fw fa-edit"></i>
                    {% trans 'Edit comment' %}
                </h1>

                <nav>
                    <ul>
                        <li>
                            <a href="{% url 'topic_look' comment.topic.identifier comment.topic.pk %}" title="{% trans 'Back to topic' %}">
                                <i class="fa fa-fw fa-arrow-left"></i></a>
                        </li>
                    {% if perms.channel.delete_comment %}
                        {% if user.pk == comment.topic.user.pk or user.is_staff %}
                        <li class="destructive-action">
                            <a href="{% url 'action_comment_delete' comment.pk %}" title="{% trans 'Remove' %}">
                                <i class="fa fa-fw fa-remove"></i></a>
                        </li>
                        {% endif %}
                    {% endif %}
                    </ul>
                </nav>
            </header>

            <aside>
                <form method="post">
                    {% csrf_token %}

                    <div>
                        <label for="id_content">{% trans 'Content' %}&nbsp;:</label>
                        {{ form.content }}
                    </div>

                    <footer>
                        <input class="important" type="submit" value="{% trans 'Update' %}" />
                    </footer>
                </form>
            </aside>
        </article>
{% endblock %}

